<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/baseLayout}"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <th:block th:fragment="modalFragment">
        <div class="modal modal-user fade p-4 py-md-5 modal-notice" tabindex="-1" role="dialog" id="adminNoticeModal" aria-labelledby="adminNoticeModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content shadow">
                    <div class="modal-body text-center">
                        <div class="top d-flex justify-content-between align-items-center">
                            <h5 class="section-title" id="adminNoticeModalLabel">알림</h5>
                            <button type="button" class="btn" data-bs-dismiss="modal"><i class="fa-solid fa-xmark"></i></button>
                        </div>

                        <ul th:with="removePart='/images/business/'">
                            <li th:if="${noticeMapList == null or #lists.isEmpty(noticeMapList)}" class="no-notice list-item border-top">
                                알림이 없습니다.
                            </li>
                            <th:block th:each="notice : ${noticeMapList}">
                                <th:block th:if="${notice['category'] == 1}">
                                    <li class="list-item d-flex align-items-center justify-content-between border-top">
                                        <div class="left">
                                            <p>
                                                <span class="name" th:text="${notice['nickname']}">업체명</span>
                                                님이 비즈니스 계정 전환을 신청하셨습니다.
                                            </p>
                                            <dl class="d-flex">
                                                <dt>사업자 등록증&nbsp;&nbsp;| </dt>
                                                <dd>
                                                    <a th:if="${notice['attachFile'] != null}"
                                                       th:href="${notice['attachFile']}" target="_blank"
                                                       th:text="${#strings.substringAfter(notice['attachFile'], removePart)}">사업자등록증파일명</a>
                                                </dd>
                                            </dl>
                                        </div>
                                        <form action="/mypage/updateNotice"  method="post" class="right">
                                            <input type="hidden" name="userCode" th:value="${notice['userCode']}"/>
                                            <div class="d-flex align-items-center">
                                                <button class="btn-approval border" name="isApproval" value="1">승인</button>
                                                <button class="btn-refusal border" name="isApproval" value="-1">거절</button>
                                            </div>
                                        </form>
                                    </li>
                                </th:block>
                            </th:block>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </th:block>
</html>