<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/baseLayout}"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <th:block th:fragment="modalFragment">
        <div class="modal modal-user fade p-4 py-md-5" tabindex="-1" role="dialog" id="facilityModal" aria-labelledby="facilityModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content shadow">
                    <div class="modal-body text-center">
                        <div class="top d-flex justify-content-between align-items-center border-bottom">
                            <div id="searchHomeFacilities" class="position-relative">
                                <label for="facilityHomeName" style="display: none"></label>
                                <input type="search" name="facilityName" id="facilityHomeName" placeholder="운동시설을 검색하세요" autocomplete="off" class="border"/>
                                <div class="suggestions"></div>
                                <button class="btn-search position-absolute" type="button"><i class="fa-solid fa-magnifying-glass"></i></button>
                            </div>
                            <button type="button" class="btn" data-bs-dismiss="modal"><i class="fa-solid fa-xmark"></i></button>
                        </div>

                        <button class="btn-more">더보기</button>
                    </div>
                </div>
            </div>
        </div>
    </th:block>
</html>