.custom-dropdown .dropdown-toggle {
    height: 100%;
    font-weight: bold;
    text-align: left;
}

.custom-dropdown .dropdown-menu {
    max-height: 200px; /* Limit height if you have many items */
    overflow-y: auto;  /* Add scrollbar if necessary */
    width: 100%;
}

.dropdown-item {
    width: 100%;
}

.modal-content {
    background: #fff;
    border-radius: 10px;
}

.modal-body {
    padding: 20px;
}

.btn-outline-secondary {
    color: #333;
    border-color: #ccc;
}

.btn-outline-secondary:hover{
    background-color: var(--point);
}
