/* Button Colors */
.btn-orange {
    background-color: var(--point);
    color: white;
    border: none;
    border-radius: 4px;
}

.btn-orange:hover {
    background-color:var(--point);
    color: #fff;
}

/* Register Section Button */
.register {

    margin-bottom: 35px;
}
.register .btn {
    padding: 75px 0;
    /*background-color: #f9f9f9;*/
    /*border: 1px solid #ddd;*/
    /*box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);*/
    background-color: rgb(250,239,221, 0.4);
    border-radius: 0;
    border-bottom: 1px solid var(--beige);
}
.register .btn:hover {
    border-color : var(--beige);
}

.register .btn .rounded-circle {
    background-color: var(--point);
    font-size: 1.5rem;
}

.selected-filters {
    padding-left: 40px;
}


/* Crew List */
.circleRgstr {
    margin-left: 50px;
}
.circleRgstr +span{
    margin-left: 40px;
}

.filter-text {
    margin-left: 30px;
}
.count-number {
    color: var(--point);
}
.container-list {
    /*margin-right: 20px;*/

}

.filter .ms-auto {
    margin-left: auto !important;
    margin-right: 20px;
}

.table td {
    vertical-align: middle;
}

td .text-muted {
    word-break: keep-all;
}

/* Align crew image and badge to the left */
.container-list td:first-child {
    display: flex;
    align-items: baseline;
    gap: 1rem;
    margin-left: 40px;
}


.table img {
    object-fit: cover;
}

.table .badge {
    font-size: 0.9rem;
    background-color: var(--point);
}

/* Filter Section */
.filter {
    margin-bottom: 20px;
}
.filter button {
    border: 1px solid #ddd;
    background: #fff;
    font-weight: 600;
}

.filter button:hover {
    background-color: #f2f2f2;
}

.container-forall {
    /*margin-top: var(--headerHeight);*/
    padding-bottom: 120px;
}


#crewList td {
    padding: 40px 0;
}
#crewList td:nth-child(2),
#crewList td:nth-child(3){
    padding-left: 40px;
}

#showMoreBtn {
    margin: 60px auto 0;
    width: 140px;
    height: 50px;
    padding: 0 !important;
}


/* Category and Area Tag Buttons */
#selectedCategories .btn,
#selectedAreas .btn,
#selected-filters .btn {
    display: inline-flex;
    align-items: center !important;
    gap: 0.2rem;
}

/* 모달 */
.custom-modal-width {
    max-width: 1000px;
    width: 100%;
}


.modal-content {
    border-radius: 10px;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.15);
}

/*크루이미지*/
.img-wrap {
    width: 112px;
    height: 112px;
    border-radius: 100%;
    overflow: hidden;
    margin-right: 40px;
    margin-bottom: 6px;
    background-color: var(--beige);
    flex-shrink: 0;
}


.btnImgInsert {
    background-color: #dfdfdf;
}

.btnImgInsert:hover {
    background-color: var(--beige);
}

/*크루이름*/
#crewName {
    flex: 1;
}

.description {
    word-break: keep-all;
}

.table>:not(caption)>*>*{
    border-bottom: none;
}

#crewNameBtn {
    white-space: nowrap; /* Prevents the button's text from wrapping */
    padding: 0.5rem 1rem; /* Adjust padding for aesthetics */
    background-color: var(--beige);
    border: none;
}

#crewNameBtn:enabled {
    background-color: var(--point);
    color: white;
}

/*카테고리*/
.custom-dropdown {
    position: relative;
    border: 1px solid #ddd;
    border-radius: 0.375rem;
    padding: 0;
    display: flex;
    justify-content: space-between;
    height: 50px;
    align-items: center;
}

.dropdown-toggle::after {
    display: none !important; /* Hides the default arrow */
}

.dropdown-toggle {
    cursor: pointer;
    border: none;
    height: 100%;
}

.dropdown-menu {
    padding: 0;
    max-height: 200px;
    overflow-y: auto;
}

.dropdown-item:hover{
    background-color: var(--point);
}

#selectedCategories .btn {
    background-color: var(--beige);
    color: var(--black);
    border: none;
    margin: 0 0.5rem 0.5rem 0;
    display: inline-flex;
    align-items: center;
}

#selectedCategories .btn i {
    margin-left: 0.5rem;
    cursor: pointer;
}

/*회원모집, 가입방식*/
.radio-btn .btn {
    background-color: var(--gray);
    color: var(--borderColor);
    transition: background-color 0.3s ease, color 0.3s ease;
}

.radio-btn .btn:hover {
    background-color: var(--beige);
    color: var(--point);
}

.radio-btn input[type="radio"]:checked + .btn {
    background-color: var(--point);
    color: white;
}

.btnDiv {
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    background-color: var(--point);
}

.btnArea {
    height: 100%;
    border: none;
    background: none;
}

.insertArea {
    text-wrap: nowrap;
}

#areaSelectModal {
    z-index: 1060 !important; /* Must be above the first modal */
}



