/* h2 스타일 */
h2 {
    font-weight: bold; /* 글가 굵기 설정*/
    color: #333;
    font-size: 24px;
}

.news-title {
    margin-bottom : 30px;
}

/* 기본적인 레이아웃과 스타일 */

/* 페이지 전체 스타일 */

.content .inner{
    padding-top: 80px;
    padding-bottom: var(--footerHeight); /* 푸터 높이만큼 패딩 추가 */
}

/* 헤드 컨테이너*/
.head-container {
    display: flex; /* 가로로 배치 */
    justify-content: space-between; /* 양쪽 끝으로 정렬 */
    align-items: center; /* 세로 중앙 정렬 */
    margin-bottom: 6px; /* 아래 간격 추가 */
}

/* 게시글 제목 옆 댓글 수 스타일 */
.post-list a .comment-count {
    margin-left: 5px; /* 제목과 댓글 수 사이 간격 */
    color: var(--point); /* 댓글 수를 색 표시 */
    font-size: 0.9em; /* 댓글 수를 작게 표시 */
}

.main-container {
    padding-top: 100px; /* 상단 패딩 추가 */
}

/* 타임라인 컨테이너 스타일 */
.crewlist-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 100px; /* 아래쪽 여백 */
}

.crew-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.crew-item a {
    display: block;
    width: 100%;
}

.img-wrap {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    overflow: hidden;
    /*margin-right: 40px;
    margin-bottom: 6px;*/
    background-color: var(--beige);
    flex-shrink: 0;
}

.crewlist-container img {
    object-fit: cover;
    height: 100%;
}

.crew-name {
    font-size: 0.9rem;
    font-weight: bold;
}


/* 더보기 버튼 스타일 */
.more-button {
    background-color: transparent;
    border: none;
    color: #888;
    cursor: pointer;
    font-size: 0.9em;
}
.more-button i {
    font-size: 0.8rem;
    margin-left: 5px;
}

.more-button:hover {
    color: #333;
    background-color: #e1e1e1; /* 호버 시 배경색 */
}

/* 카테고리 및 정렬 섹션 */
.post-list {
    margin-top: 100px;
}
.post-list h2 {
    margin-bottom: 30px;
}
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;

    border-bottom: none;
    width: 100%;
    box-sizing: border-box; /* 테두리와 내부 여백 포함 */
}

.category-buttons {
    display: flex;
    gap: 10px;
}

.category-buttons button:not(:nth-child(3)) {
    padding: 8px 25px;
    /*width: 80px;*/
    height: 40px;
    border: 1px solid var(--borderColor);
    border-radius: 20px;
    background-color: #ffffff;
    color: #333;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.category-buttons button:last-child {
    padding: 8px 25px;
    /*width: 100px;*/
    height: 40px;
    border: 1px solid var(--borderColor);
    border-radius: 20px;
    background-color: #ffffff;
    color: #333;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.category-buttons button.active {
    background-color: var(--point);
    color: white;
    border-color: var(--point);
}

/* 검색창을 중앙 정렬 */
.search-bar {
    display: flex; /* 플렉스 박스를 활성화 */
    /*justify-content: center; !* 수평 중앙 정렬 *!*/
    margin: 0 auto; /* 부모 요소 기준 중앙 정렬 */
    /*margin-left: 30px;*/

    /*width: 100%; !* 전체 폭 설정 *!
    max-width: 500px; !* 필요하면 최대 폭 설정 *!*/
}

.search-bar form {
    display: flex;
    align-items: center; /* 세로 정렬 */
    gap: 10px; /* 검색창과 버튼 사이 간격 */
}

.search-bar input[type="search"] {
    border: 1px solid #ddd;
    border-radius: 20px;
    padding: 8px 15px;
    font-size: 14px;
    width: 250px;
}

.search-bar button {
    background-color: var(--point);
    border: none;
    color: white;
    padding: 8px 15px;
    border-radius: 20px;
    cursor: pointer;
}

/* 뷰 전환 및 정렬 */
.view-and-sort {
    display: flex;
    gap: 10px;
    align-items: center;
    /*margin-left: auto;*/
}

.view-buttons {
    display: flex;
    gap: 5px;
}

.view-buttons button {
    background-color: transparent;
    /*border: 1px solid #ddd;*/
    border-radius: 5px;
    width: 40px;
    height: 40px;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.view-buttons button.active {
    background-color: transparent;
    color: var(--point);
}

.dropdown {
    position: relative;
}

.dropdown .sort-button {
    display: flex;
    align-items: center;
    justify-content: center;
    /*width: 110px;*/
    height: 40px;
    gap: 8px;
    padding: 5px 15px;
    border: 1px solid var(--borderColor);
    border-radius: 8px;
    /*font-size: 17px;*/
    font-weight: bold;
    cursor: pointer;
}

.dropdown .dropdown-content {
    display: none;
    position: absolute;
    width: 100%;
    background-color: var(--bs-white);
    border: 1px solid #ddd;
    border-radius: 8px;
    top: 40px;
    right: 0;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 100;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    padding: 8px 12px;
    display: block;
    text-decoration: none;
    text-align: center;
    color: #333;
    transition: background-color 0.2s ease;
}

.dropdown-content a:hover {
    color: var(--point);
}

/* 글쓰기 버튼 */
.create-button-container {
    display: flex;
    justify-content: flex-end;
    /*margin-left: auto;*/
}

.create-button {
    padding: 5px 15px;
    background-color: var(--point);
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    /*font-size: 14px;*/
    font-weight: bold;

    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

/* 카드 뷰 컨테이너 */
.card-container {
    display: flex; /* 플렉스 레이아웃 */
    flex-direction: column; /* 세로로 정렬 */
    margin : 20px auto;
    width: 100%; /* CLI'MON의 C와 맞추기 위해 동일한 폭 설정 */
    padding: 0; /* 리스트 뷰와 동일하게 내부 여백 제거 */
    box-sizing: border-box; /* 패딩 포함한 폭 계산 */
}



/* 카드 뷰 개별 카드 */
.card {
    width: 100%; /* 카드가 컨테이너에 맞도록 설정 */
    /*padding: 15px; !* 리스트 뷰와 동일한 내부 여백 *!*/
    border-bottom: 1px solid #ddd; /* 카드 구분선 */
    border-radius: 0; /* 모서리 반경 제거 */
    box-shadow: none; /* 그림자 제거 */
    --bs-card-border-color: none;
    padding-left: 30px;
    padding-right: 30px;
    align-items: center;
}
.card-category {
    margin-bottom: 10px;
}

.thumbnail-wrapper {
    flex: 0 0 150px;
    width: 144px;
    height: 144px;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.thumbnail {
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.card-body {
    flex: 1;
}

.card-title a {
    font-size: 20px;
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

.card-meta {
    font-size: 12px;
    color: #666;
    display: flex;
    /*gap: 5px; !* 아이템 간의 간격 *!*/
    align-items: center;
}
.card-meta i {
    margin-right: 5px;
}
.card-meta i:first-of-type {
    margin-left: 50px;
}
.card-meta span {
    margin-right: 12px;
}
.card-meta span:nth-child(2) {
    position: relative;
    padding-left: 15px;

}
.card-meta span:nth-child(2)::before {
    content: '·';
    position: absolute;
    left: 0;
}

.card-content {
    font-size: 16px;
    color: var(--black);
    line-height: 1.5;
    margin-bottom: 20px;
    margin-right: 40px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-clamp: 2; /* For browsers that support it */
    height: 3rem;
    text-overflow: ellipsis;
    white-space: normal;
}

/* 리스트 뷰 스타일 */
.list-view {
    width: 100%;
    border-collapse: collapse;
    margin: 40px auto;
}

.pinned-post {
    background-color: rgba(250, 239, 221, 0.2); /* 연한 회색 배경 */
    /*border-left: 4px solid #ff9900; !* 왼쪽 테두리에 오렌지색 강조 *!*/
    font-weight: bold; /* 글씨를 굵게 */
}

/* 공지 */
.pinned-postCategory {
    padding: 5px;
    background-color: rgba(250, 239, 221, 1);
    color: var(--placeholder);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
    width: 60px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pinned-post td {
    padding: 20px 30px; /* 셀의 여백 */
    border-bottom: 1px solid rgba(250, 239, 221, 1); /* 기본 행 구분선 */
    text-align: left;
}

.post-list {
    width: 100%;
}

.post-list table {
    width: 100%;
    border-collapse: collapse;
}

.post-list th {
    padding: 15px;
    border-bottom: 1px solid rgba(250, 239, 221, 1); /* 기본 행 구분선 */
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}
.post-list td {
    text-align: center;
}

.post-list #generalPosts td {
    padding: 20px 30px;
    border-bottom: 1px solid var(--borderColor); /* 기본 행 구분선 */
    /*text-align: left;*/
}

/* 게시글 테이블의 맨 위 구분선 */
.post-list thead tr {
    border-top: 2px solid var(--black); /* 맨 위 구분선 */
}


/* 페이지네이션 전체 스타일 */
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    padding: 20px 0;
}

/* 페이지네이션 리스트 */
.pagination ul {
    list-style: none;
    display: flex;
    gap: 15px; /* 버튼 간격 조정 */
    padding: 0;
}

/* 페이지네이션 링크 버튼 스타일 */
.pagination a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px; /* 버튼 크기 */
    height: 24px;
    border: none;


}

.pagination i {
    display: flex;
    /*width: 50px; !* 버튼 크기 *!
    height: 36px;*/
    font-size: 24px;
    /*justify-content: center;
    align-items: center;
    text-decoration: none;*/
    color: var(--darkGray);

}

.pagination a.disabled i {
    pointer-events: none; /* 클릭 비활성화 */
    color: var(--borderColor);
    cursor: not-allowed; /* 비활성화 커서 */

}


.pagination a.disabled {
    pointer-events: none; /* 클릭 비활성화 */
}



/* 활성화된 페이지 버튼 스타일 */
.pagination .active {
    font-weight: bold; /* 글가 굵기 설정*/
}


footer {
    text-align: center;
    padding: 20px;
    font-size: 0.8em;
    color: #aaa;
}

/* 크루 이벤트 섹션 스타일*/
#crew-activity-event-list {
    max-height: 462px;
    overflow-y: auto;
}
.crew-home-events-shower .crew-activity-event-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(250,239,221,0.4);
    border-radius: 8px;
    padding: 16px 40px 16px 0;
    width: 100%;
    height: 154px;

}
.crew-home-events-shower .crew-activity-event-item + .crew-activity-event-item {
    border-top: 1px solid var(--beige);
}

.crew-home-events-shower .crew-activity-event-item .crew-event-info {
    display: flex;
    align-items: center;
    padding: 0 40px;
    width: 332px;
}

.crew-home-events-shower .crew-activity-event-item .crew-event-status-tag {
    background-color: var(--point);
    color: white;
    font-size: 14px;
    padding: 4px 12px;
    border-radius: 20px;
    margin-right: 16px;

}

.crew-home-events-shower .crew-activity-event-item .crew-event-details p {
    margin: 0;
    font-size: 16px;
    color: var(--black);

}

.crew-home-events-shower .crew-activity-event-item .crew-event-center {
     flex-grow: 1;

    padding: 0 40px;
 }

.crew-home-events-shower .crew-activity-event-item .crew-event-title {
    font-size: 20px;
    font-weight: 600;
    margin: 0;
}

.crew-home-events-shower .crew-activity-event-item .crew-event-right {
    text-align: right;
    display: flex;
    align-items: center;
}

.crew-home-events-shower .crew-activity-event-item .crew-event-location,
.crew-home-events-shower .crew-activity-event-item .crew-event-crewname {
    margin: 0;
    font-size: 16px;
    color: var(--darkGray);
    padding: 0 40px;
}

.crew-home-events-shower .crew-activity-event-item .crew-event-image-placeholder {
    width: 112px;
    height: 112px;
    background-color: var(--point);
    border-radius: 8px;
    margin-left: 40px;
    /*margin-top: 10px;*/
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.crew-home-events-shower .crew-activity-event-item .crew-event-image-placeholder img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}