<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/baseLayout}"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/css/page/facilities.css}">
    </th:block>
    <th:block layout:fragment = "containerFragment">
                    <!--<button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling">Enable body scrolling</button>-->
        <div class="inner">
            <div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
               <!-- <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasScrollingLabel">Offcanvas with body scrolling</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>-->

                <div class="search-container">
                    <form id="searchForm" action="/facilities/search" method="post">
                        <input type="text" name="code" class="search-input" id="codeInput" placeholder="  암장이름 검색하기" oninput="showSuggestions()" autocomplete="off"/><br/>
                        <div id="suggestions"></div> <!-- 추천 결과를 보여줄 부분 -->
                        <button  class="search-button" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                    </form>
                </div>
                <!-- 초기화 버튼 -->
                <div class="button-container-facility">
                    <div class="d-flex flex-column align-items-center">
                        <div class="img-wrap" id="img-wrap0">
                            <img src="/images/facility/o2.png" class="fcategory_button" onclick="resetForm()" alt="전체조회">
                        </div>
                        <p>전체 조회</p>
                    </div>
                    <div class="d-flex flex-column align-items-center">
                        <div class="img-wrap">
                            <img src="/images/facility/climbing-wall.png" class="fcategory_button" onclick="handleCategorySubmit(1)" alt="볼더링">
                        </div>
                        <p>볼더링</p>
                    </div>
                    <div class="d-flex flex-column align-items-center">
                        <div class="img-wrap">
                            <img src="/images/facility/free-icon-carabiner.png" class="fcategory_button" onclick="handleCategorySubmit(2)" alt="리드"  >
                        </div>
                        <p>리드</p>
                    </div>
                    <div class="d-flex flex-column align-items-center">
                        <div class="img-wrap">
                            <img src="/images/outdoor_mountain.png" class="fcategory_button" onclick="handleCategorySubmit(3)" alt="자연">
                        </div>
                        <p>자연</p>
                    </div>
                </div>

                <div class="offcanvas-body">
                    <!-- 볼더링 카테고리 버튼 -->
                    <!--검색기능-->

                    <div th:if="${facilitiesList != null}">
                        <div id="skeleton-loader" class="skeleton-loader" style="display: none;">
                            <div class="skeleton-item"></div>
                            <div class="skeleton-item"></div>
                            <div class="skeleton-item"></div>
                        </div>
                        <table id="facilitiestb">
                            <tbody>
                            <tr th:each="facility : ${facilitiesList}" th:onclick="'showFacilityId(' + ${facility.id} + ')'">
                                <td>
                                <div class="facility-info">

                                    <div>

                                        <div class="facility-name" th:text="${facility.facilityName}">시설명</div>

                                    <div class="facility-address" th:text="${facility.address}">주소</div>
                                    </div>
                                    <div class="img-wrap">
                                        <div class="skeleton-item"></div>
                                        <img id="facilitymainImg" class="facility-details-content" th:src="@{${facility.imageUrl}}" alt=""
                                             data-action="handleImageLoad">
                                    </div>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- 시설 목록이 없을 경우 메시지 표시 -->
                    <div th:if="${facilitiesList == null or facilitiesList.isEmpty()}">
                        <p>시설 목록이 없습니다.</p>
                    </div>
                </div>
            </div>

            <div id="loadingSpinner" class="loading-spinner">
                <div class="spinner"></div>
            </div>



            <div th:replace ="~{/facilities/map :: mapFragment}" ></div>
            <div class="facility-detail333" id="facility-detail333">
            <div class="facilityDetails" id="facilityDetailsContainer"></div>
            </div>
           <!--<div class="facilityDetails" id="reviewContainer"></div>-->
        </div>
            <div th:replace="~{/facilities/facilitymodal :: facilityModalFragment}"></div>
        <!--<div class="input-wrap d-flex justify-content-between align-items-center flex-wrap">
            <div>
                <label for="businessFile">사업자등록증</label>
                <small>※ 지원하는 이미지 파일 형식 : ( jpeg, jpg, gif, png )</small>
            </div>
            <input type="file" name="businessFile" id="businessFile"/>
            <button class="btn-fileupload border" type="button"><i class="fa-solid fa-plus"></i><span>파일첨부</span></button>
            <div class="attachFile align-items-center"><p class="fileName">파일이름.jpg(예시)</p><button type="button"><i class="fa-solid fa-xmark"></i></button></div>
        </div>-->

    </th:block>


    <th:block layout:fragment="javascript">
        <script th:inline="javascript">
            // 서버에서 전달된 시설 리스트를 JSON 형식으로 변환하여 JavaScript 배열로 사용
            function articleMessage() {
                // facilitiesList를 JavaScript 배열로 변환하여 변수에 할당
                const facilities = [[${facilitiesList}]];

                // facilities 배열을 출력하여 확인
                console.log(facilities);

                // 카카오 맵에 마커 추가
              loadKakaoMap(facilities);
            }
            //th 쓰는 함수
            async function showFacilityId(id) {
                const facilityDetailsContainer = document.getElementById("facilityDetailsContainer");



                // 부드럽게 출력하기 위해 visibility를 hidden으로 설정
                facilityDetailsContainer.classList.remove('visible');
                facilityDetailsContainer.style.visibility = 'hidden';

                try {
                    const response = await fetch(`/facilities/facility/${id}`);
                    if (!response.ok) throw new Error(`네트워크 오류: ${response.status}`);
                    const data = await response.json();

                    // 데이터 로드 후 UI 업데이트
                    showFacility(data);


                    setTimeout(() => {
                        facilityDetailsContainer.classList.add('visible');  // visible 클래스를 추가하여 애니메이션 효과 시작
                    }, 500); // 50ms 정도 대기 후 애니메이션 시작
                } catch (error) {
                    console.error("시설 상세 정보 로드 실패:", error);
                    alert("시설 정보를 불러오는 데 실패했습니다.");
                } finally {
                    // 스켈레톤 로더 제거
                    facilityDetailsContainer.innerHTML = '';
                }
            }

        </script>


        <script th:src="@{/js/page/facilities.js}"></script>
    </th:block>

</html>

