<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/baseLayout}">

<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/page/searchForm.css}">
</th:block>



<th:block layout:fragment="containerFragment">
    <div class="inner">
        <div class="headcontainer">
        <h2 class="head-title">통합검색</h2>

        <!-- 검색어 입력 폼 -->
        <form action="/search" method="get" class="head-search-form">
            <input type="text" name="keyword" placeholder="검색어를 입력하세요" minlength="2" required
                   th:value="${keyword}" class="search-input">
            <button type="submit" class="search-button"><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>
        </div>

        <!-- 검색 결과 영역 -->
        <div class="search-results">
        <!-- 크루 결과 -->
        <section class="result-section">
            <h2>크루
            <span class="crewCount" th:text="${crewCount}">0</span>
            </h2>
            <p class="no-result" th:if="${crewCount == 0}">결과가 없습니다.</p>
            <div class="crew-results" th:if="${crewCount > 0}">
            <div th:each="crew : ${crewNames}">
                <p th:text="${crew.crewName}"></p>
                <div class="crew-thumbnail">

                </div>
                <p class="crew-name" th:text="${crew.crewName}"></p>
            </div>
            </div>
        </section>

        <!-- 시설 결과 -->
        <section>
            <h2>운동시설
            <span class="facilityCount" th:text="${facilitiesCount}">0</span>
            </h2>
            <p class="no-result" th:if="${facilitiesCount} == 0">결과가 없습니다.</p>
            <div class="facility-results" th:if="${facilitiesCount > 0}">
            <div th:each="facility : ${limitedCommunityfacilities}">
                <p th:text="${facility.facilityName} + ' - ' + ${facility.address}"></p>
            </div>
            </div>
        </section>

        <!-- 게시글 결과 -->
        <section class="result-section">
            <h2>게시물
            <span class="communityPostCount" th:text="${communityPostCount}">0</span>
            </h2>
            <p class="no-result" th:if="${communityPosts.size()} == 0">결과가 없습니다.</p>
            <div class="post-results" th:if="${communityPostCount > 0}">
            <div th:each="post : ${communityPosts}">
                <p th:utext="${post.title}"></p>
                <p th:utext="${post.content}"></p>
            </div>
            </div>
        </section>
    </div>
    </div>


</th:block>


<th:block layout:fragment="javascript">

</th:block>
</html>