<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/baseLayout}"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<th:block layout:fragment="css">
  <link rel="stylesheet" th:href="@{/css/page/crew/crewBoardWritePost.css}">
  <link rel="stylesheet" th:href="@{/css/page/communityPostForm.css}">
  <link href="https://cdn.jsdelivr.net/npm/quill@1.3.7/dist/quill.snow.css" rel="stylesheet">
</th:block>


<th:block layout:fragment="containerFragment">
  <section>
    <div class="inner">
      <div class="top area">
        <h2 th:text="${post.id != null ? '커뮤니티게시판 수정' : '커뮤니티게시판 글 쓰기'}"></h2>
      </div>
      <br/>
      <form th:action="${post.id != null} ? '/community/' + ${post.id} + '/edit' : '/community/new'" method="post" id="writePostForm" onsubmit="return false;">
        <div class="input-wrap">
          <h4>카테고리</h4>
          <select class="form-select" aria-label="Default select example" name="category" onchange="toggleEventFields(this.value)" required>
            <option value="">카테고리를 선택해주세요.</option>
            <option value="공지" th:selected="${post.category == '공지'}">공지</option>
            <option value="가이드" th:selected="${post.category == '가이드'}">가이드</option>
            <option value="소식" th:selected="${post.category == '소식'}">소식</option>
            <option value="일반" th:selected="${post.category == '일반'}">일반</option>
          </select>
          <br/>

          <!-- 행사 날짜 입력 (소식 카테고리 선택 시에만 표시)-->
          <div class="form-group" id="eventFields" th:style="${post.category == '소식'} ? '' : 'display: none;'">
            <label for="eventStartDate">행사 시작일</label>
            <input type="date" id="eventStartDate" name="eventStartDate">
            <label for="eventEndDate">행사 종료일</label>
            <input type="date" id="eventEndDate" name="eventEndDate">
          </div>

          <div class="mb-3">
            <label for="title" class="form-label">제목</label>
            <input type="text" class="form-control" id="title" placeholder="제목을 입력해주세요." name="title" th:value="${post.title}" required>
          </div>
          <div class="mb-3 form-group">
            <label for="editor" class="form-label">본문</label>
            <div id="toolbar-container">
                                    <span class="ql-formats">
                                      <select class="ql-font"></select>
                                      <select class="ql-size"></select>
                                    </span>
              <span class="ql-formats">
                                      <button class="ql-bold"></button>
                                      <button class="ql-italic"></button>
                                      <button class="ql-underline"></button>
                                      <button class="ql-strike"></button>
                                    </span>
              <span class="ql-formats">
                                      <select class="ql-color"></select>
                                      <select class="ql-background"></select>
                                    </span>
              <span class="ql-formats">
                                      <button class="ql-direction" value="rtl"></button>
                                      <select class="ql-align"></select>
                                    </span>
              <span class="ql-formats">
                                      <button class="ql-image"></button>
                                      <button class="ql-video"></button>
                                    </span>
            </div>

            <div id="editor"></div>
            <input type="hidden" id="hidden_content_input" name="content" required>
            <input type="hidden" id="hiddenContent" th:value="${post.content}">
            <input type="hidden" id="hidden_imgURL_input" name="imageUrl">

          </div>

          <div class="form-check form-switch justify-content-end">
            <input class="form-check-input" type="checkbox" role="switch" id="anonymous"
              th:checked="${post.isAnonymous}">
            <label class="form-check-label" for="anonymous">익명</label>
            <input type="hidden" id="isAnonymous" name="isAnonymous" value="false">
          </div>

          <div class="hidden alert" id="liveAlertPlaceHolder"></div>

          <div class="d-flex justify-content-center button-container">
            <button id="cancelButton" class="button btn-light">취소</button>
            <input type="submit" class="btn" value="등록">
          </div>
        </div>
      </form>

    </div>
  </section>
</th:block>


<th:block layout:fragment="javascript">

  <script src="https://cdn.jsdelivr.net/npm/quill@1.3.7/dist/quill.min.js"></script>
  <script src="https://unpkg.com/quill-image-resize-module@3.0.0/image-resize.min.js"></script>
  <!-- JS: 카테고리 선택에 따른 이벤트 필드 토글-->  <!--toggleEventFields 함수는 카테고리 값이 "소식"일 때만 eventFields를 보이게하고, 그외엔 숨김-->
  <script>
      document.addEventListener('DOMContentLoaded', function () {
          const role = '[[${role}]]'; /* 서버에서 현재 사용자의 역할을 전달 */
          const categorySelect = document.querySelector('select[name="category"]');
          const titleInput = document.getElementById('title');
          const eventStartDateInput = document.getElementById('eventStartDate');
          const eventEndDateInput = document.getElementById('eventEndDate');

          console.log("")

          if (role !== 'ADMIN') {
              categorySelect.querySelectorAll('option[value="공지"], option[value="가이드"]').forEach(option => {
                  option.disabled = true;
              });
          }


          // 기존 게시글 내용 불러오기
          const existingCategory = '[[${post.category}]]';
          const existingTitle = '[[${post.title}]]';
          const existingStartDate = '[[${post.eventStartDate}]]';
          const existingEndDate = '[[${post.eventEndDate}]]';

          if (existingCategory) {
              categorySelect.value = existingCategory;
              toggleEventFields(existingCategory); // 카테고리에 따라 행사 필드 토글
          }

          if (existingTitle) {
              titleInput.value = existingTitle;
          }

          if (existingStartDate){
              eventStartDateInput.value = existingStartDate;
          }

          if (existingEndDate){
              eventEndDateInput.value = existingEndDate;
          }

          //취소 버튼 JS 로직
          const cancelButton = document.getElementById("cancelButton");
          const postId = [[${post.id != null ? post.id : 'null'}]];

          cancelButton.addEventListener("click", (event) => {
              event.preventDefault();
              if (postId !== null) {
                  // 수정 상태: 상세 페이지로 이동
                  window.location.href = `/community/${postId}?incrementView=false`;
              } else {
                  // 작성 상태: 커뮤니티 목록으로 이동
                  window.location.href = '/community';
              }
          });

      });

    function toggleEventFields(category){
      const eventFields = document.getElementById('eventFields');
      if (category === '소식'){
        if(eventFields.style.display !== 'block'){ // 이미 보이는 경우 다시 처리하지 않음 (두번 제출하게 하지 않기 위해 이렇게 처리)
           eventFields.style.display = 'block';
        }
      } else {
        if(eventFields.style.display !== 'none'){ // 이미 숨겨진 경우 다시 처리하지 않음
           eventFields.style.display = 'none';
          }
      }
    }

    // 카테고리 선택시 자격 확인(자격 없으면 appendAlert)

    Quill.register('modules/imageResize', ImageResize.default || ImageResize);

    // textEditor 생성 및 설정
    const quill = new Quill('#editor', {
        modules: {
            toolbar: '#toolbar-container',
            imageResize:{
                displaySize: true
            },
        },
        placeholder: "   내용을 입력 해주세요.(1,000자 이내)",

        // placeholder: 'Compose an epic...',
        theme: 'snow',
    });

      const content = document.getElementById('hiddenContent').value;
      quill.clipboard.dangerouslyPasteHTML(content);

    // file upload 시에 필요한 객체 미리 생성
    const imageFileMap = new Map();
    const hiddenImgUrlInput = document.getElementById("hidden_imgURL_input");


    // textEditor 는 div에 구현되어 form 태그에 속해 있어도 submit 시 dto에 담기지 않는다.
    // textEditor 에 기입되는 내용물 hidden input 으로 전달
    // input 태그에 전달된 내용물이 form submit 시 같이 dto 에 담겨 넘어간다.
    const hiddenContentInput = document.getElementById("hidden_content_input");
    quill.on('text-change', function (){
        hiddenContentInput.value = quill.root.innerHTML;
        console.log(quill.root.innerHTML);
    });

    // 익명 토글
    document.getElementById('anonymous').addEventListener('change', function () {
        document.getElementById('isAnonymous').value = this.checked ? 'true' : 'false';
    });

    // required 가 걸리지 않는 textEditor 를 위해
    // textEditor 내용물(본문)이 비었을시에 alert를 띄워주기 위한 객체와 함수를 만들어준다.
    const alertPlaceholder = document.getElementById('liveAlertPlaceHolder');

    const appendAlert = (message, type) => {
        const wrapper = document.createElement('div')
        wrapper.innerHTML = [
            `<div class="alert alert-${type} alert-dismissible" role="alert" style="background-color: var(--beige)">`,
            '<div>',
            '<i class="fa-solid fa-triangle-exclamation" style="color: var(--point)"></i>',
            `   ${message}</div>`,
            '   <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>',
            '</div>'
        ].join('')

        alertPlaceholder.append(wrapper);
    };

    // 폼 제출 플래그 추가로 중복 방지
    let isSubmitting = false;

    // 본문 내용검사후 통과 못하면 alert 적용
    document.getElementById('writePostForm').onsubmit = async function (event) {
        event.preventDefault();

        if (isSubmitting){
            return false; // 이미 제출 중이면 중단
        }
        isSubmitting = true;

        // html 태그 제거
        const cleanTxt = quill.root.innerHTML.replace(/<(?!img\s*\/?)[^>]+>/g, "");
        // 모든 공백 제거
        const resultTxt = cleanTxt.replace(/\s/g, '').trim();

        // 카테고리 선택 검사
        const category = document.querySelector('select[name="category"]').value;


        // 소식 카테고리 선택 시 행사 날짜 입력 검사
        if (category === '소식'){
            const eventStartDate = document.getElementById('eventStartDate').value;
            const eventEndDate = document.getElementById('eventEndDate').value;

            if (!eventStartDate || !eventEndDate){
                appendAlert("행사 날짜를 입력해주세요.", 'warning');
                isSubmitting = false; // 제출 간으 상태로 초기화
                return false;
            }
        }

        if (resultTxt.length === 0) {
            appendAlert("본문에 내용이 있어야 등록 가능합니다!", 'success');
            return false;
        }

            const contentHTML = quill.root.innerHTML;
            const parser = new DOMParser();
            const doc = parser.parseFromString(contentHTML, 'text/html');
            const imgTags = Array.from(doc.getElementsByTagName('img'));

            try{
            const remainingFiles = [];
            const formData = new FormData();

            imgTags.forEach(img => {
                const base64URL = img.src;
                if (imageFileMap.has(base64URL)){
                    const file = imageFileMap.get(base64URL);
                    formData.append('uploadFile', file);
                    remainingFiles.push(file);
                }
            });

            if(remainingFiles.length > 0){
                    const response = await fetch('/community/file/upload', {
                        method: 'POST',
                        body: formData,
                        headers: {
                            'Accept': 'application/json'
                        }
                    });

                    if (!response.ok) {
                        throw new Error(`HTTP error! status: ${response.status}`);
                    }

                    const data = await response.json();
                    console.log('File uploaded successfully:', data);
                    hiddenImgUrlInput.value = data;
                    imgTags.forEach((img, index) => {
                        img.src = data[index];
                    });
                    quill.root.innerHTML = doc.body.innerHTML;
                    }
                } catch(err) {
                    console.error('Upload failed:', err);
                    appendAlert("이미지 업로드 중 문제가 발생했습니다.", 'error');
                    isSubmitting = false;
                    return false;
                }

            // 폼 제출 로직
            try {
                hiddenContentInput.value = quill.root.innerHTML;
                document.getElementById('writePostForm').submit();
            } catch (error) {
                console.error("폼 제출 중 오류:", error);
                isSubmitting = false; // 오류시 플래그 초기화
            }
    };


    // 이미지 업로드시 text Editor 에 띄워주고 form submit시 업로드 준비
    quill.getModule('toolbar').addHandler('image', function (){
        selectLocalImage();
    });

    function selectLocalImage() {
        const fileInput = document.createElement('input');
        fileInput.setAttribute('type', 'file');
        fileInput.accept = "image/*";
        fileInput.click();
        fileInput.addEventListener("change", function () {  // change 이벤트로 input 값이 바뀌면 실행

            if (this.value !== "") { // 파일이 있을때만.
                const ext = this.value.substring(this.value.lastIndexOf(".")).toLowerCase();
                if (["gif", "jpg", "jpeg", "png", "bmp"].includes(ext)) {
                    appendAlert("jpg, jpeg, png, bmp, gif 파일만 업로드 가능합니다.", 'success');
                    return;
                }
                // var fileSize = this.files[0].size;
                // var maxSize = 20 * 1024 * 1024;
                // if (fileSize > maxSize) {
                //     alert("업로드 가능한 최대 이미지 용량은 20MB입니다.");
                //     return;
                // }
                const file = fileInput.files[0];
                const reader = new FileReader();
                reader.onload = () => {
                    const base64URL = reader.result;
                    const range = quill.getSelection();
                    quill.insertEmbed(range.index, 'image', base64URL);
                    imageFileMap.set(base64URL, file);
                };
                reader.readAsDataURL(file);

                console.log(file);
                // formData.append('uploadFile', file);
                console.log(formData);
            }
        });
    }

  </script>

</th:block>

</html>