<html lang="ko" xmlns:th="http://www.thymeleaf.org"
                  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
                  layout:decorate="~{/layout/baseLayout}"
                  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/page/mainpage.css}">
    <link rel="stylesheet" th:href="@{/css/page/calendar.css}">
</th:block>
    <!--메인에 들어갈 내용들-->
    <th:block layout:fragment="containerFragment">
    <div class="banner-content">
        <div class="mySlides">
            <div style="background: url('/images/banner1.png') no-repeat center / cover; height: 621px;">
<!--                <img src="/images/banner1.png" style="height: 621px" alt="배너1"/>-->
            </div>
        </div>
        <div class="mySlides">
            <div style="background: url('/images/banner2.png') no-repeat center / cover; height: 621px;">
<!--            <img src="/images/banner2.png" style="height: 621px" alt="배너2"/>-->
            </div>
        </div>
        <div class="mySlides">
            <div style="background: url('/images/banner3.png') no-repeat center / cover; height: 621px;">
<!--            <img src="/images/banner3.png" style="height: 621px" alt="배너3"/>-->
            </div>
        </div>
        <div class="btn-wrapper">
            <div class="inner">
                <a class="btn prev-btn" onclick="plusSlides(-1)">&#10094;</a>
                <a class="btn next-btn" onclick="plusSlides(1)">&#10095;</a>
            </div>
        </div>

    </div>

        <div class="inner">
            <div class="role-test-convenient">
                <!--유저 권한 별 테스트 위한 버튼-->
                <button onclick="updateUserRole('ADMIN')">관리자</button>
                <button onclick="updateUserRole('USER')">유저r</button>
                <button onclick="updateUserRole('BUSINESS')">비즈니스</button>
            </div>

            <div class="main-content">

                <div class="main-event-title">
                    <h4>주목할만한 이벤트</h4>
                </div>

                <div class="main-event-container">
                    <section class="main-events-section">
                        <div class="main-event-list">
                            <h5>대회 안내</h5>
                            <ul>
                                <!--추후 처리 post category에서 어떻게 나뉘는지 더 생각해보고 ...-->
                                <li>2024 여기에 이벤트 뿌려줘야 함</li><hr/>
                                <li>2024 스포츠 클라이밍 동호인 대회</li><hr/>
                                <li>2024 스포츠 클라이밍 동호인 대회</li><hr/>
                                <li>2024 스포츠 클라이밍 동호인 대회</li><hr/>
                                <li>2024 스포츠 클라이밍 동호인 대회</li>
                            </ul>
                        </div>
                    </section>
                    <section class="calendar-section">
                        <div id = "main-calendar"></div>
                    </section>
                </div>

                <div class="featured-locations">
                    <h3>오늘의 암장</h3>
                    <div class="facility-list">
                        <div class="facility-item">
                            <span class="rating"> 4.5</span>
                            <p>더클라임 클라이밍 짐앤샵 신림점</p>
                        </div>
                        <div class="facility-item">
                            <span class="rating"> 4.5</span>
                            <p>뚝섬한강공원 인공암벽장</p>
                        </div>
                        <div class="facility-item">
                            <span class="rating"> 4.5</span>
                            <p>하이미디어학원</p>
                        </div>
                    </div>
                </div>

               <div class="community-container">
                <h3>커뮤니티</h3>
                   <div class="community-posts">
                       <div class="community-posts-list">
                           <ul class="nav nav-tabs" id="category-tabs">
                               <li class="nav-item">
                                   <button class="nav-link active" data-category="">전체</button>
                               </li>
                               <li class="nav-item">
                                   <button class="nav-link" data-category="일반">일반</button>
                               </li>
                               <li class="nav-item">
                                   <button class="nav-link" data-category="모집">모집</button>
                               </li>
                               <li class="nav-item">
                                   <button class="nav-link" data-category="질문">질문</button>
                               </li>
                           </ul>
                           <table id="table post-table">
                               <tbody id="recent-posts">
                               <!-- 최근 포스트 6개 여기-->
                               </tbody>
                           </table>
                           <button class="btn-more-posts">게시글 더 보기</button>
                       </div>

                       <div class="popular-posts">
                           <h5>인기게시글</h5>
                           <ol class="popular-list" id="popular-posts">
                               <!-- 인기게시글 10개 여기 -->
                           </ol>
                       </div>
                   </div>
               </div>

            </div>
        </div>

        <th:block th:replace="~{calendar/calendarModal :: modalFragment }"></th:block>

    </th:block>

    <!-- 2024-11-13 calendar api 추가-->
    <th:block layout:fragment="javascript">
        <script th:src="@{/js/plugin/index.global.js}"></script>
        <script th:src="@{/js/page/calender.js}"></script>
        <script th:src="@{/js/page/mainpage.js}"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script th:inline="javascript">
            const message = [[${message}]];
            if(message){
                alert(message);
            }
        </script>
    </th:block>

</html>