<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
                  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
                  layout:decorate="~{/layout/baseLayout}"
                  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/page/mainpage.css}">
    <link rel="stylesheet" th:href="@{/css/page/calendar.css}">
</th:block>
    <!--메인에 들어갈 내용들-->
    <th:block layout:fragment="containerFragment">
    <div class="banner-content"></div>
        <div class="inner">
            <div class="main-content">

                <h3>주목할만한 이벤트</h3>
                <div class="event-container">
                    <section class="events-section">
                        <div class="event-list">
                            <h5>대회 안내</h5>
                            <ul>
                                <li>2024 여기에 이벤트 뿌려줘야 함</li><hr/>
                                <li>2024 스포츠 클라이밍 동호인 대회</li><hr/>
                                <li>2024 스포츠 클라이밍 동호인 대회</li><hr/>
                            </ul>
                        </div>
                    </section>
                    <section class="calendar-section">
                        <div id = "calendar"></div>
                    </section>
                </div>

                <div class="featured-locations">
                    <h3>오늘의 암장</h3>
                    <div class="facility-list">
                        <div class="facility-item">
                            <span class="rating"> 4.5</span>
                            <p>더클라임 클라이밍 짐앤샵 신림점</p>
                        </div>
                        <div class="facility-item">
                            <span class="rating"> 4.5</span>
                            <p>뚝섬한강공원 인공암벽장</p>
                        </div>
                        <div class="facility-item">
                            <span class="rating"> 4.5</span>
                            <p>하이미디어학원</p>
                        </div>
                    </div>
                </div>

                <div class="community-container">
                <h2>커뮤니티</h2>
                    <div class="community-posts">
                        <ul>
                            <li>오늘도 열심히!</li>
                            <li>여기다가 커뮤니티 포스트 상위 n개</li>
                            <li>홍창기 안타 안타 날려 홍창기</li>
                        </ul>
                        <button>게시글 더 보기</button>
                    </div>

                    <div class="popular-posts">
                        <h3>인기게시글</h3>
                        <ul>
                            <li>제목 1</li>
                            <li>제목 2</li>
                            <li>제목 3</li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>



        <!-- 부트스트랩 modal 부분 -->
        <!-- Modal -->
        <div
                class="modal fade"
                id="exampleModal"
                tabindex="-1"
                aria-labelledby="exampleModalLabel"
                aria-hidden="true"
        >
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">일정 추가하기</h5>
                        <button
                                type="button"
                                class="btn-close"
                                data-bs-dismiss="modal"
                                aria-label="Close"
                        ></button>
                    </div>
                    <div class="modal-body">
                        일정이름 : <input type="text" id="title" /><br />
                        시작시간 : <input type="date" id="start" /><br />
                        종료시간 : <input type="date" id="end"/><br />
                        배경색상 :
                        <select id="color">
                            <option value="red">빨강색</option>
                            <option value="orange">주황색</option>
                            <option value="yellow">노랑색</option>
                            <option value="green">초록색</option>
                            <option value="blue">파랑색</option>
                            <option value="indigo">남색</option>
                            <option value="purple">보라색</option>
                        </select>
                    </div>
                    <div class="modal-footer">
                        <button
                                type="button"
                                class="btn btn-secondary"
                                data-bs-dismiss="modal"
                        >
                            취소
                        </button>

                        <button type="button" id="addButton" class="btn btn-primary" style="display: none;">Add</button>
                        <button type="button" id="modifyButton" class="btn btn-success" style="display: none;">Modify</button>
                        <button type="button" id="deleteButton" class="btn btn-danger" style="display: none;">Delete</button>
                    </div>
                </div>
            </div>
        </div>

    </th:block>

    <!-- 2024-11-13 calendar api 추가-->
    <th:block layout:fragment="javascript">
        <script th:src="@{/js/plugin/index.global.js}"></script>
        <script th:src="@{/js/page/calender.js}"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </th:block>

</html>