<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/baseLayout}"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/css/common/inputCommon.css}">
        <link rel="stylesheet" th:href="@{/css/page/mypage.css}">
        <link rel="stylesheet" th:href="@{/css/page/userModal.css}">
    </th:block>


    <th:block layout:fragment="containerFragment">
        <div class="section-mypage">
            <div class="inner d-flex">
                <aside class="aside">
                    <h3>내 계정</h3>

                    <ul role="tablist">
                        <li role="presentation">
                            <button class="active" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="true">
                                <i class="fas fa-user-circle"></i>
                                <span>내 프로필</span>
                            </button>
                        </li>
                        <li role="presentation">
                            <button id="review-tab"  data-bs-toggle="tab" data-bs-target="#review" type="button" role="tab" aria-controls="review" aria-selected="false">
                                <i class="fas fa-comment-dots"></i>
                                <span>리뷰 관리</span>
                            </button>
                        </li>
                        <li role="presentation">
                            <button id="board-tab" data-bs-toggle="tab" data-bs-target="#board" type="button" role="tab" aria-controls="board" aria-selected="false">
                                <i class="fas fa-file-alt"></i>
                                <span>게시판 관리</span>
                            </button>
                        </li>
                        <li role="presentation">
                            <button id="favorite-tab" data-bs-toggle="tab" data-bs-target="#favorite" type="button" role="tab" aria-controls="favorite" aria-selected="false">
                                <i class="fas fa-bookmark"></i>
                                <span>즐겨찾기 관리</span>
                            </button>
                        </li>
                    </ul>

                    <a href="/auth/logout" class="btn-logout">
                        <i class="fas fa-sign-out-alt"></i>
                        <span>로그아웃</span>
                    </a>
                </aside>

                <div class="tab-content">
                    <th:block th:replace="~{/mypage/tab/profileTab :: tabContFragment}"></th:block>
                    <th:block th:replace="~{/mypage/tab/reviewTab :: tabContFragment}"></th:block>
                    <th:block th:replace="~{/mypage/tab/boardTab :: tabContFragment}"></th:block>
                    <th:block th:replace="~{/mypage/tab/favoriteTab :: tabContFragment}"></th:block>
                </div>
            </div>
        </div>
        <th:block th:replace="~{/mypage/modal/userModal :: modalFragment}"></th:block>
        <th:block th:replace="~{/mypage/modal/businessModal :: modalFragment}"></th:block>
    </th:block>


    <th:block layout:fragment="javascript">
        <script th:src="@{/js/page/auth.js}"></script>
        <script th:src="@{/js/page/mypage.js}"></script>
        <script th:src="@{/js/page/userModal.js}"></script>
        <script th:inline="javascript">
            const message = [[${message}]];
            if(message){
                alert(message);
            }
        </script>
    </th:block>
</html>