<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/baseLayout}"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<th:block th:fragment="modalFragment">
    <div class="modal modal-user fade p-4 py-md-5" tabindex="-1" role="dialog" id="userViewModal" aria-labelledby="userViewModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content shadow">
                <div class="modal-body">
                    <button type="button" class="btn-x" data-bs-dismiss="modal"><i class="fa-solid fa-xmark"></i></button>
                    <div class="top d-flex align-items-center border-bottom">
                        <div class="img-wrap">
                            <img src="" alt="프로필이미지"/>
                        </div>
                        <div>
                            <p class="nickname">닉네임</p>
                            <p class="one-liner">한줄 소개를 작성해 보세요.</p>
                        </div>
                    </div>
                    <div class="middle d-flex">
                        <div class="crew border-end">
                            <p class="title">크루</p>
                            <p class="cont">Aurora</p>
                        </div>
                        <div class="home">
                            <p class="title">홈짐</p>
                            <p class="cont">등록한 홈짐이 없습니다.</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</th:block>
</html>