@charset "utf-8";

/* 공통 */
:root {
    /*색상 정의*/
    --black: #222;
    --point: #FF7F27;
    --borderColor: #DEE2E6;
    --beige: #FAEFDD; /*rgb(250,239,221)*/
    --darkGray: #343A40;
    --gray: #6C757D;
    --darkBorderColor: #495057;
    --darkBgBlack: #212529;
    --placeholder: #cdcdcd;
    /*header*/
    --headerHeight: 4rem;
    /*footer*/
    --footerHeight: 100px;
}
*{
    box-sizing: border-box;
}

html {
    font-size: 16px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    color: var(--black);
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.inner {
    width: 1440px;
    padding: 0 20px;
    margin: 0 auto;
}

a {
    color: var(--black);
    text-decoration: none;

}

/* bootstrap 초기화 */
h1,h2,h3,h4,h5,h6 {
    margin-bottom: 0;
    color: var(--black);
    font-size: unset;
}
dl, ol, ul {
    margin-bottom: 0;
}
ul, ol {
    padding-left: 0;
}
p {
    margin-bottom: 0;
}

textarea {
    resize: none;
    outline: none;
    border: none;
}

/*버튼 초기화*/
button {
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
    font-family: inherit;
    font-weight: inherit;
}
button:disabled {
    cursor: default;
}



/* 다크모드 : 색상 변경 안되는 태그 있으면 추가하기 !!! */
[data-bs-theme="dark"]{
    h1,h2,h3,h4,h5,h6 {
        color: #fff;
    }
    a {
        color: #fff;
    }
    body {
        color: #fff;

        .header {
            background-color: var(--darkBgBlack);
            .inner {
                > div:first-child {
                    .gnb {
                        .depth1 {
                            > li {
                                .depth2{
                                    &::after {
                                        background-color: var(--darkBgBlack);
                                        border-bottom-color: var(--darkBorderColor);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        
        .footer {
            background-color: var(--darkBgBlack);
            .inner {
                .ft-right {
                    color: #fff;
                }
            }
        }
    }

    .ongoing-news-item {
        background-color: var(--darkBgBlack);
        color: #fff;
        border-color: var(--darkBorderColor);
    }

    .status-label{
        color: #fff;
    }

    .more-button{
        color: #fff;
    }

    .pinned-post{
        color: #fff;
        background-color: var(--darkBgBlack);
        border-color: var(--darkBorderColor);
    }

    /* 다크 모드에서 sort-button 스타일 */
    .dropdown .sort-button {
        background-color: var(--darkBgBlack);
        color: #fff;
        border-color: var(--darkBorderColor);
    }

    /* 다크 모드에서 pagination 스타일 */
    .pagination a, .pagination i {
        color: #fff;
        border-color: var(--darkBorderColor);
    }

    .pagination a:hover, .pagination i:hover {
        background-color: #fff;
        color: #000;
    }

    input::placeholder{
        color: #fff;
    }

    .category-buttons{
        background-color: var(--darkBgBlack);
        color: #fff;
        border-color: var(--darkBorderColor);
    }

    .author-name{
        color: #fff;
    }

    .meta-info{
        color: #fff;
    }

    .post-header{
        background-color: var(--darkBgBlack);
        color: #fff;
        border-color: var(--darkBorderColor);
    }

    .post-content{
        background-color: var(--darkBgBlack);
        color: #fff;
        border-color: var(--darkBorderColor);
    }

    .post-content p{
        color: #fff;
    }

    #anonymous.form-check-input {
        background-color: var(--darkBgBlack);
        color: #fff;
        border-color: var(--darkBorderColor); /* 토글 상태에서도 텍스트 색상 유지 */
    }

    .card-body{
        background-color: var(--darkBgBlack);
        color: #fff;
        border-color: var(--darkBorderColor);
    }

    .card-title span{
        color: #fff;
    }

    .card-content.line-clamp{
        color: #fff;
    }

    .card-meta{
        color: #fff;
    }

    .like{
        color: #fff;
    }

    .comments-count{
        color: #fff;
    }

    .share{
        color: #fff;
    }

    textarea::placeholder{
        color: #fff;
    }

    .prev-next-label{
        color: #fff;
    }

    .prev-next-disabled{
        color: #fff;
    }

    .headcontainer{
        background-color: var(--darkBgBlack);
        color: #fff;
        border-color: var(--darkBorderColor);
    }

    .slash{
        color: #fff;
    }

    .no-result{
        color: #fff;
    }

    .result-post h2{
        color: #fff;
    }

    .result-facility h2{
        color: #fff;
    }

    .result-crew h2{
        color: #fff;
    }

    .crew-item p{
        color: #fff;
    }

    .facility-item p{
        color: #fff;
    }

    .search-input{
        background-color: var(--darkBgBlack);
        color: #fff;
        border-color: var(--darkBorderColor);
    }

    .head-search-form{
        background-color: var(--darkBgBlack);
        color: #fff;
        border-color: var(--darkBorderColor);
    }

    .input-wrap-btn button {
        color: var(--black);
    }
    .section-mypage .aside::after {
        background: var(--darkBorderColor);
    }
    .section-mypage #profile .profile-cont .section00 .btn-wrap button {
        color: #fff;
    }
    .section-mypage .aside ul li button {
        color: #fff;
    }
    .section-mypage #profile .modify-cont .section00 .btn-wrap .btn {
        color: var(--darkGray);
    }
    .modal-user .modal-footer button:first-of-type {
        color: var(--darkGray);
    }
    #facilityModal .modal-body ul li .address {
        color: #fff;
    }
}




/* content */
.content {
    padding-top: var(--headerHeight);
    min-width: 1440px;
}

.section-title {
    font-size: 24px;
    font-weight: 600;
}


/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: var(--point) rgba(0,0,0,0);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 20px;
}

*::-webkit-scrollbar-track {
    background: rgba(0,0,0,0);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--point);
    border-radius: 100%;
    border: none;
}