@charset "utf-8";

.no-header {
    text-align: center;
    padding: 0;
    height: 100vh;

}
.no-header .cont {
    height: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}
.no-header i {
    font-size: 48px;
    color: var(--point);
    margin-bottom: 40px;
}
.no-header h2 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 10px;
}
.no-header p {
    line-height: 22px;
    margin-bottom: 35px;
}
.no-header .btn-home {
    color: var(--point);
    font-weight: 600;
    text-decoration: underline;
}