spring:
  profiles:
    include:
      - oauth
      - db
      - error
  thymeleaf:
    prefix: classpath:templates/
    suffix: .html
    mode: HTML
    cache: false
logging:
  level:
    org:
      springframework:
        security: DEBUG