<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/baseLayout}"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/common/inputCommon.css}">
    <link rel="stylesheet" th:href="@{/css/page/crew/myCrew.css}">;
    <link rel="stylesheet" th:href="@{/css/page/calendar.css}">
</th:block>


<th:block layout:fragment="containerFragment">
    <div class="inner d-flex">
        <aside class="crew-aside">
            <div class="crew-info">
                <div class="crew-profile-img"></div>
                <h3>크루명</h3>
                <span>멤버 n명</span>
            </div>

            <!--사이드 내용-->

            <button class="crew-join-apply">
                <p>가입신청하기</p>
            </button>
        </aside>

        <div class="crew-main">
            <ul role="tablist" class="crew-tab-nav">
                <li role="presentation">
                    <button class="active" id="home-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="home" aria-selected="true">
                        <span>홈</span>
                    </button>
                </li>
                <li role="presentation">
                    <button id="news-tab"  data-bs-toggle="tab" data-bs-target="#news" type="button" role="tab" aria-controls="news" aria-selected="false">
                        <span>소식</span>
                    </button>
                </li>
                <li role="presentation">
                    <button id="activity-tab"  data-bs-toggle="tab" data-bs-target="#activity" type="button" role="tab" aria-controls="activity" aria-selected="false">
                        <span>활동</span>
                    </button>
                </li>
                <li role="presentation">
                    <button id="album-tab"  data-bs-toggle="tab" data-bs-target="#album" type="button" role="tab" aria-controls="album" aria-selected="false">
                        <span>앨범</span>
                    </button>
                </li>
                <li role="presentation">
                    <button id="member-tab"  data-bs-toggle="tab" data-bs-target="#member" type="button" role="tab" aria-controls="member" aria-selected="false">
                        <span>멤버</span>
                    </button>
                </li>
            </ul>

            <div class="tab-content">
                <th:block th:replace="~{/crew/myCrew/tab/homeTab :: tabContFragment}"></th:block>
                <th:block th:replace="~{/crew/myCrew/tab/newsTab :: tabContFragment}"></th:block>
                <th:block th:replace="~{/crew/myCrew/tab/activityTab :: tabContFragment}"></th:block>
                <th:block th:replace="~{/crew/myCrew/tab/albumTab :: tabContFragment}"></th:block>
                <th:block th:replace="~{/crew/myCrew/tab/memberTab :: tabContFragment}"></th:block>
            </div>
        </div>

        <!-- 부트스트랩 modal 부분 -->
        <!-- Modal -->
        <div
                class="modal fade"
                id="exampleModal"
                tabindex="-1"
                aria-labelledby="exampleModalLabel"
                aria-hidden="true"
        >
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">일정 추가하기</h5>
                        <button
                                type="button"
                                class="btn-close"
                                data-bs-dismiss="modal"
                                aria-label="Close"
                        ></button>
                    </div>
                    <div class="modal-body">
                        일정이름 : <input type="text" id="title" /><br />
                        시작시간 : <input type="date" id="start" /><br />
                        종료시간 : <input type="date" id="end"/><br />
                        배경색상 :
                        <select id="color">
                            <option value="red">빨강색</option>
                            <option value="orange">주황색</option>
                            <option value="yellow">노랑색</option>
                            <option value="green">초록색</option>
                            <option value="blue">파랑색</option>
                            <option value="indigo">남색</option>
                            <option value="purple">보라색</option>
                        </select>
                    </div>
                    <div class="modal-footer">
                        <button
                                type="button"
                                class="btn btn-secondary"
                                data-bs-dismiss="modal"
                        >
                            취소
                        </button>

                        <button type="button" id="addButton" class="btn btn-primary" style="display: none;">Add</button>
                        <button type="button" id="modifyButton" class="btn btn-success" style="display: none;">Modify</button>
                        <button type="button" id="deleteButton" class="btn btn-danger" style="display: none;">Delete</button>
                    </div>
                </div>
            </div>
        </div>

    </div>

</th:block>


<th:block layout:fragment="javascript">
    <script th:src="@{/js/plugin/index.global.js}"></script>
    <script th:src="@{/js/page/calender.js}"></script>
    <script th:src="@{/js/page/crew/mycrew.js}"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script th:inline="javascript">
        const message = [[${message}]];
        if(message){
            alert(message);
        }
    </script>
</th:block>
</html>