<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/baseLayout}"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/common/inputCommon.css}">
    <link rel="stylesheet" th:href="@{/css/page/crew/myCrew.css}">;
    <link rel="stylesheet" th:href="@{/css/page/calendar.css}">
</th:block>


<th:block layout:fragment="containerFragment">
    <div class="inner d-flex">
        <aside class="crew-aside">
            <div class="crew-info">
                <div class="crew-profile-img-wrapper">
                    <img th:src="${myCrew.imgUrl}" alt="Thumbnail" class="thumbnail">
                </div>
                <div class="crewname-sns-container d-flex">
                    <h3 th:text="${myCrew.crewName}">크루명</h3>
                    <th:block th:if="${myCrew.crewSns != null && myCrew.crewSns.length() > 0}">
                        <a th:href="|https://www.instagram.com/${myCrew.crewSns}/|" target="_blank">
                            <img src="/images/instagram.png" alt="no insta?" class="insta-img">
                        </a>
                    </th:block>
                </div>
                <div class="crew-member-count-recruit-status-container">
                    <span th:text="|회원 ${memberCount}명|">멤버 n명</span>
                    <span class="badge rounded-pill" th:if="${myCrew.recruitingStatus == true}">모집중</span>
                </div>
                <div class="crew-description" th:text="${myCrew.description}">크루 소개글</div>
            </div>

            <!--사이드 내용-->
            <button class="crew-join-apply" type="button" data-bs-toggle="modal" data-bs-target="#crewApplyModal"
                    th:if="${isMyCrew == false && haveCrew == false}"
                    th:disabled="${waitingForApproval}" >
                <p th:text="${waitingForApproval? '가입승인 대기중' : '가입신청하기'}">가입신청하기</p>
            </button>
        </aside>

        <div class="crew-main">
            <ul role="tablist" class="crew-tab-nav">
                <li role="presentation">
                    <button class="active" id="home-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="home" aria-selected="true">
                        <span>홈</span>
                    </button>
                </li>
                <li role="presentation">
                    <button id="news-tab"  data-bs-toggle="tab" data-bs-target="#news" type="button" role="tab" aria-controls="news" aria-selected="false">
                        <span>소식</span>
                    </button>
                </li>
                <li role="presentation">
                    <button id="activity-tab"  data-bs-toggle="tab" data-bs-target="#activity" type="button" role="tab" aria-controls="activity" aria-selected="false">
                        <span>활동</span>
                    </button>
                </li>
                <li role="presentation">
                    <button id="album-tab"  data-bs-toggle="tab" data-bs-target="#album" type="button" role="tab" aria-controls="album" aria-selected="false">
                        <span>앨범</span>
                    </button>
                </li>
                <li role="presentation">
                    <button class="position-relative" id="member-tab"  data-bs-toggle="tab" data-bs-target="#member" type="button" role="tab" aria-controls="member" aria-selected="false">
                        <div class="position-relative">
                        </div>
                        <span style="padding: 10px 0 0 20px">
                            멤버
                        </span>
                        <th:block th:unless="${newCrewApplyInfoList == null or #lists.isEmpty(newCrewApplyInfoList)}">
                            <span th:text="${newCrewApplyInfoList.size()}" class="position-absolute top-0 start-100 translate-middle rounded-circle">
                                <span class="visually-hidden">unread messages</span>
                            </span>
                        </th:block>
                    </button>
                </li>
            </ul>
            <div style="display: none" id="crewcode" th:data-crew-code="${myCrew.id}"></div>

            <div class="tab-content">
                <th:block th:replace="~{/crew/myCrew/tab/homeTab :: tabContFragment}"></th:block>
                <th:block th:replace="~{/crew/myCrew/tab/newsTab :: tabContFragment}"></th:block>
                <th:block th:replace="~{/crew/myCrew/tab/activityTab :: tabContFragment}"></th:block>
                <th:block th:replace="~{/crew/myCrew/tab/albumTab :: tabContFragment}"></th:block>
                <th:block th:replace="~{/crew/myCrew/tab/memberTab :: tabContFragment}"></th:block>
            </div>
        </div>

        <th:block th:replace="~{/calendar/calendarModal :: modalFragment }"></th:block>

    </div>

    <th:block th:replace="~{crew/myCrew/crewApplyModal :: crewApplyModalFragment}"></th:block>
    <th:block th:replace="~{crew/myCrew/crewApplyConfirmModal :: crewApplyConfirmModalFragment}"></th:block>

</th:block>


<th:block layout:fragment="javascript">
    <script th:src="@{/js/plugin/index.global.js}"></script>
    <script th:src="@{/js/page/calender.js}"></script>
    <script th:src="@{/js/page/crew/mycrew.js}"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script th:inline="javascript">
        const message = [[${message}]];
        if(message){
            alert(message);
        }
    </script>

    <script th:inline="javascript">
        const alertMessage = [[${alertMessage}]];
        if(alertMessage){
            alert(alertMessage);
        }
    </script>
</th:block>
</html>