<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ohgiraffers.climbon.crew.dao.CrewBoardDAO">

    <resultMap id="crewBoard" type="com.ohgiraffers.climbon.crew.dto.CrewBoardDTO">
        <id property="id" column="id"/>
        <result property="crewCode" column="crew_code"/>
        <result property="userId" column="user_id"/>
        <result property="categoryCode" column="category_code"/>
        <result property="title" column="title"/>
        <result property="content" column="content"/>
        <result property="imgUrl" column="img_url"/>
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>
        <result property="viewCount" column="view_count"/>
        <result property="likeCount" column="like_count"/>
        <result property="isAnonymous" column="is_anonymous"/>
        <result property="status" column="status"/>
    </resultMap>

    <insert id="insertPost" parameterType="com.ohgiraffers.climbon.crew.dto.CrewBoardDTO">
        INSERT INTO crew_posts(crew_code, user_id, category_code, title, content, img_url, updated_at, is_anonymous, status)
           VALUES(
            #{crewCode},
            #{userId},
            #{categoryCode},
            #{title},
            #{content},
            #{imgUrl},
            NULL,
            #{isAnonymous},
            1
        )
    </insert>

    <select id="selectLastPost" resultMap="crewBoard">
        SELECT * FROM crew_posts
        ORDER BY id DESC
        LIMIT 1;
    </select>

    <select id="getCrewCode" parameterType="int" resultType="Integer">
        SELECT crew_code
        FROM user_crew
        WHERE user_code = #{id}
    </select>

    <select id="selectOnePostById" parameterType="int" resultMap="crewBoard">
        SELECT * FROM crew_posts
        WHERE id = #{id}
    </select>
</mapper>