<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ohgiraffers.climbon.calendar.dao.EventMapper">

    <resultMap id="eventResult" type="com.ohgiraffers.climbon.calendar.dto.EventDTO">
        <id property="id" column="EVENT_ID"/>
        <result property="title" column="TITLE"/>
        <result property="start" column="START_DATETIME"/>
        <result property="end" column="END_DATETIME"/>
        <result property="description" column="DESCRIPTION"/>
        <result property="backgroundColor" column="COLOR"/>
        <result property="userCode" column="USER_CODE"/>
        <result property="crewCode" column="CREW_CODE"/>
        <result property="role" column="IS_ADMIN"/>
    </resultMap>

    <resultMap id="crewEventResult" type="com.ohgiraffers.climbon.calendar.dto.CrewEventDTO">
        <id property="userCode" column="USER_CODE"/>
        <result property="crewCode" column="CREW_CODE"/>
    </resultMap>


    <select id="getAllEvents" parameterType="int" resultMap="eventResult">
        SELECT
        *
        FROM calendar_events
        WHERE user_code = #{userCode};
    </select>

    <select id="getAllEventsFromCrew" parameterType="int" resultMap="eventResult">
        SELECT
        *
        FROM calendar_events
        WHERE crew_code = #{value};
    </select>

    <select id="getMainEvents" parameterType="boolean" resultMap="eventResult">
        SELECT *
        FROM calendar_events
        WHERE is_admin = #{role};
    </select>

    <insert id="insertEvent" parameterType="com.ohgiraffers.climbon.calendar.dto.EventDTO">
        INSERT INTO calendar_events (title, user_code, crew_code, is_admin, start_datetime, end_datetime, description, color)
        VALUES(#{title}, #{userCode}, #{crewCode}, #{role}, #{start}, #{end}, #{description}, #{backgroundColor});
    </insert>

    <select id="checkDuplicate" resultType="Integer">
        SELECT COUNT(*)
        FROM calendar_events
        WHERE title = #{title} AND start_datetime = #{start} AND end_datetime = #{end} AND user_code = #{userCode};
    </select>

    <update id="modifyEvent" parameterType="com.ohgiraffers.climbon.calendar.dto.EventDTO">
        UPDATE calendar_events
        SET title = #{title}, start_datetime = #{start}, end_datetime = #{end}, description = #{description}, color = #{backgroundColor}
        WHERE event_id = #{id};
    </update>

    <delete id="deleteEvent" parameterType="com.ohgiraffers.climbon.calendar.dto.EventDTO">
        DELETE FROM calendar_events
        WHERE event_id = #{id};
    </delete>

    <select id="getEventsByType" parameterType="String" resultMap="eventResult">
        SELECT *
        FROM calendar_events AS c
        JOIN users AS u ON c.user_code = u.id
        WHERE u.user_role = #{value};
    </select>

    <select id="isUserInCrew" parameterType="com.ohgiraffers.climbon.calendar.dto.CrewEventDTO" resultType="Integer">
        SELECT COUNT(*)
        FROM user_crew
        WHERE user_code = #{userCode} AND crew_code = #{crewCode};
    </select>

    <select id="getAllCrewsEvents" resultMap="eventResult">
        SELECT *
        FROM calendar_events
        WHERE crew_code IS NOT NULL;
    </select>
</mapper>