<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ohgiraffers.climbon.facilities.dao.FacilitiesDAO">

<resultMap id="FacilityResultMap" type="com.ohgiraffers.climbon.facilities.dto.FacilitiesDTO">

    <id property="id" column="id" />
    <result property="facilityName" column="facility_name" />
    <result property="address" column="address" />
    <result property="contact" column="contact" />
    <result property="openingTime" column="opening_time" />
    <result property="categoryId" column="category_id" />
    <result property="latitude" column="latitude" />
    <result property="longitude" column="longitude" />
    <result property="isFavorite" column="isFavorite"/>
    <!-- 시설 타입 (enum일 경우 EnumTypeHandler 사용 필요) -->
    <result property="facilityType" column="facility_type"
            typeHandler="com.ohgiraffers.climbon.facilities.handler.FacilityTypeTypeHandler"/><!--이넘핸들러주소를써야함-->
</resultMap>


    <select id="facilitiesList" parameterType="com.ohgiraffers.climbon.facilities.dto.FacilitiesDTO" resultMap="FacilityResultMap">
        SELECT
        *
        FROM FACILITIES
    </select>

    <select id="categorySelect" parameterType="com.ohgiraffers.climbon.facilities.dto.FacilitiesDTO" resultMap="FacilityResultMap">
        SELECT
        *
        FROM FACILITIES
        WHERE CATEGORY_ID = #{ categoryId }
        <if test="facilityName != null and facilityName !=''">
        AND facility_name LIKE CONCAT('%', #{facilityName}, '%')
        </if>
    </select>

    <select id="searchOneFacility" resultMap="FacilityResultMap">
        SELECT
        *
        FROM FACILITIES
        WHERE facility_name LIKE '%' #{facilityName} '%'
    </select>

    <select id="getFacility" resultMap="FacilityResultMap">
        SELECT
        *
        FROM FACILITIES
        WHERE id = #{ id }
    </select>
    <select id="getFacilityIdByName" parameterType="string" resultType="int">
        SELECT
        id
        FROM FACILITIES
        WHERE facility_name = #{ facilityName }
    </select>
    <select id="getFacilityNameById" parameterType="int" resultType="string">
        SELECT
        facility_name
        FROM FACILITIES
        WHERE id = #{ id }
    </select>

</mapper>