<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ohgiraffers.climbon.crew.mycrew.dao.MyCrewMapper">

    <resultMap id="crew" type="com.ohgiraffers.climbon.crew.crewHome.dto.CrewDTO">
        <id property="id" column="id"/>
        <result property="crewName" column="crew_name"/>
        <result property="imgUrl" column="img_url"/>
        <result property="description" column="description"/>
        <result property="crewSns" column="crew_sns"/>
        <result property="climbingCategory" column="climbing_category"/>
        <result property="recruitingStatus" column="recruiting_status"/>
        <result property="permissionToJoin" column="is_permission"/>
        <result property="activeArea" column="active_area"/>
        <result property="captainId" column="captain_id"/>
        <result property="status" column="status"/>
        <result property="createdAt" column="created_at"/>
        <result property="deletedAt" column="deleted_at"/>
    </resultMap>

    <resultMap id="userMap" type="com.ohgiraffers.climbon.user.dto.UserDTO">
        <id property="id" column="ID"/>
        <result property="userId" column="USER_ID"/>
        <result property="nickname" column="NICKNAME"/>
        <result property="password" column="PASSWORD"/>
        <result property="userRole" column="USER_ROLE"/>
        <result property="profilePic" column="PROFILE_PIC"/>
        <result property="oneLiner" column="ONE_LINER"/>
        <result property="facilityCode" column="FACILITY_CODE"/>
        <result property="status" column="STATUS"/>
        <result property="isBusiness" column="IS_BUSINESS"/>
        <result property="createdAt" column="CREATED_AT"/>
        <result property="inactiveAt" column="INACTIVE_AT"/>
    </resultMap>

    <resultMap id="userCrew" type="com.ohgiraffers.climbon.crew.mycrew.dto.UserCrewDTO">
        <result property="userCode" column="user_code"/>
        <result property="crewCode" column="crew_code"/>
        <result property="role" column="role"/>
    </resultMap>

    <resultMap id="crewMembers" type="com.ohgiraffers.climbon.crew.mycrew.dto.CrewMembersDTO">
        <id property="id" column="ID"/>
        <result property="userId" column="USER_ID"/>
        <result property="nickname" column="NICKNAME"/>
        <result property="password" column="PASSWORD"/>
        <result property="userRole" column="USER_ROLE"/>
        <result property="profilePic" column="PROFILE_PIC"/>
        <result property="oneLiner" column="ONE_LINER"/>
        <result property="facilityCode" column="FACILITY_CODE"/>
        <result property="status" column="STATUS"/>
        <result property="isBusiness" column="IS_BUSINESS"/>
        <result property="createdAt" column="CREATED_AT"/>
        <result property="inactiveAt" column="INACTIVE_AT"/>
        <result property="crewCode" column="crew_code"/>
        <result property="role" column="role"/>
    </resultMap>

    <resultMap id="crewApply" type="com.ohgiraffers.climbon.crew.mycrew.dto.CrewApplyDTO">
        <result property="userCode" column="user_code"/>
        <result property="crewCode" column="crew_code"/>
        <result property="content" column="content"/>
        <result property="isApproval" column="is_approval"/>
        <result property="isPermission" column="is_permission"/>
    </resultMap>

    <resultMap id="crewApplyWithUserInfo" type="com.ohgiraffers.climbon.crew.mycrew.dto.CrewApplyWithUserInfoDTO">
        <result property="userCode" column="user_code"/>
        <result property="crewCode" column="crew_code"/>
        <result property="content" column="content"/>
        <result property="isApproval" column="is_approval"/>
        <result property="isPermission" column="is_permission"/>

        <result property="userId" column="USER_ID"/>
        <result property="nickname" column="NICKNAME"/>
        <result property="password" column="PASSWORD"/>
        <result property="userRole" column="USER_ROLE"/>
        <result property="profilePic" column="PROFILE_PIC"/>
        <result property="oneLiner" column="ONE_LINER"/>
        <result property="facilityCode" column="FACILITY_CODE"/>
        <result property="status" column="STATUS"/>
        <result property="isBusiness" column="IS_BUSINESS"/>
        <result property="createdAt" column="CREATED_AT"/>
        <result property="inactiveAt" column="INACTIVE_AT"/>
    </resultMap>

    <resultMap id="crewPostsResult" type="com.ohgiraffers.climbon.crew.crewHome.dto.CrewPostDTO">
        <id property="id" column="id"/>
        <result property="crewCode" column="crew_code"/>
        <result property="userId" column="user_id"/>
        <result property="category" column="category"/>
        <result property="title" column="title"/>
        <result property="content" column="content"/>
        <result property="imgUrl" column="img_url"/>
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>
        <result property="viewCount" column="view_count"/>
        <result property="likeCount" column="like_count"/>
        <result property="isAnonymous" column="is_anonymous"/>
        <result property="status" column="status"/>
        <result property="userNickName" column="nickname"/>
        <result property="userProfilePic" column="profile_pic"/>
        <result property="commentsCount" column="comments_count"/>
    </resultMap>

    <select id="getMyCrewCodeAndRole" parameterType="int" resultMap="userCrew">
        SELECT *
        FROM user_crew
        WHERE user_code = #{myId};
    </select>

    <select id="getMyCrewById" resultMap="crew">
        SELECT a.*
        FROM crews a
        JOIN user_crew b
        on a.id = b.crew_code
        WHERE a.status = TRUE
        AND b.user_code = #{myId};
    </select>

    <select id="getCrewMemberList" parameterType="int" resultMap="crewMembers">
        SELECT
            u.*,
            uc.crew_code,
            uc.role
        FROM users u
        JOIN user_crew uc
        on u.id = uc.user_code
        WHERE uc.crew_code = #{crewCode};
    </select>

    <select id="getImgUrlList" parameterType="int">
        SELECT img_url
        FROM crew_posts
        WHERE crew_code = #{crewCode};
    </select>

    <select id="getCrewInfoByCrewCode" parameterType="Integer" resultMap="crew">
        SELECT *
        FROM crews
        WHERE id = #{crewCode}
    </select>

    <select id="getMemberCount" parameterType="int">
        SELECT count(user_code)
        FROM user_crew
        WHERE crew_code = #{crewCode}
    </select>

    <select id="getHowToJoinCrew" parameterType="int" resultType="boolean">
        SELECT is_permission
        FROM crews
        WHERE id = #{crewCode}
    </select>

    <insert id="applyForCrew" parameterType="com.ohgiraffers.climbon.crew.mycrew.dto.CrewApplyDTO">
        INSERT INTO crew_apply(user_code, crew_code, content, is_approval, is_permission)
        VALUES(
        #{userCode},
        #{crewCode},
        #{content},
        #{isApproval},
        #{isPermission}
        )
    </insert>

    <insert id="crewMemberInsert" parameterType="com.ohgiraffers.climbon.crew.mycrew.dto.UserCrewDTO">
        INSERT INTO user_crew (user_code, crew_code, role)
        VALUES (#{userCode}, #{crewCode}, #{role})
    </insert>

    <select id="getCrewApplyContent" resultMap="crewApply" parameterType="int">
        SELECT *
        FROM crew_apply
        WHERE user_code = #{myId}
        AND is_approval = 0
    </select>

    <select id="getNewCrewApplyContentByCrewCode" parameterType="int" resultMap="crewApplyWithUserInfo">
        SELECT
            ca.*,
            u.*
        FROM crew_apply ca
        JOIN users u
        on ca.user_code = u.id
        WHERE ca.crew_code = #{crewCode}
        AND ca.is_approval = 0
    </select>
  
    <select id="getCrewApplyWithUserInfo" parameterType="int" resultMap="crewApplyWithUserInfo">
        SELECT
        ca.*,
        u.*
        FROM crew_apply ca
        JOIN users u
        on ca.user_code = u.id
        WHERE ca.user_code = #{userId}
        AND ca.is_approval = 0
    </select>

    <update id="updateCrewApplyResult">
        UPDATE crew_apply
        SET is_approval = #{isApproval}
        WHERE user_code = #{userCode}
    </update>

    <insert id="alertUser">
        INSERT INTO user_notice (user_code, category)
        VALUES (#{userCode}, #{category})
    </insert>

    <select id="getCrewPostsList" parameterType="int" resultMap="crewPostsResult">
        SELECT posts_with_comment_count.*
        FROM (SELECT p.*, u.nickname AS userNickname, u.profile_pic AS userProfilePic,
                (SELECT COUNT(*)
                FROM crew_comments
                WHERE post_id = p.id AND status = 1) AS comments_count
        FROM crew_posts p
        LEFT JOIN users u ON p.user_id = u.id
        WHERE p.status = 1 AND p.crew_code = #{value}) AS posts_with_comment_count
        ORDER BY posts_with_comment_count.created_at DESC;
    </select>

</mapper>

