<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ohgiraffers.climbon.crew.mycrew.dao.MyCrewMapper">

    <resultMap id="crew" type="com.ohgiraffers.climbon.crew.crewHome.dto.CrewDTO">
        <id property="id" column="id"/>
        <result property="crewName" column="crew_name"/>
        <result property="imgUrl" column="img_url"/>
        <result property="description" column="description"/>
        <result property="crewSns" column="crew_sns"/>
        <result property="climbingCategory" column="climbing_category"/>
        <result property="recruitingStatus" column="recruiting_status"/>
        <result property="permissionToJoin" column="is_permission"/>
        <result property="activeArea" column="active_area"/>
        <result property="captainId" column="captain_id"/>
        <result property="status" column="status"/>
        <result property="createdAt" column="created_at"/>
        <result property="deletedAt" column="deleted_at"/>
    </resultMap>

    <resultMap id="userMap" type="com.ohgiraffers.climbon.user.dto.UserDTO">
        <id property="id" column="ID"/>
        <result property="userId" column="USER_ID"/>
        <result property="nickname" column="NICKNAME"/>
        <result property="password" column="PASSWORD"/>
        <result property="userRole" column="USER_ROLE"/>
        <result property="profilePic" column="PROFILE_PIC"/>
        <result property="oneLiner" column="ONE_LINER"/>
        <result property="facilityCode" column="FACILITY_CODE"/>
        <result property="status" column="STATUS"/>
        <result property="isBusiness" column="IS_BUSINESS"/>
        <result property="createdAt" column="CREATED_AT"/>
        <result property="inactiveAt" column="INACTIVE_AT"/>
    </resultMap>

    <resultMap id="userCrew" type="com.ohgiraffers.climbon.crew.mycrew.dto.UserCrewDTO">
        <result property="userCode" column="user_code"/>
        <result property="crewCode" column="crew_code"/>
        <result property="role" column="role"/>
    </resultMap>

    <resultMap id="crewMembers" type="com.ohgiraffers.climbon.crew.mycrew.dto.CrewMembersDTO">
        <id property="id" column="ID"/>
        <result property="userId" column="USER_ID"/>
        <result property="nickname" column="NICKNAME"/>
        <result property="password" column="PASSWORD"/>
        <result property="userRole" column="USER_ROLE"/>
        <result property="profilePic" column="PROFILE_PIC"/>
        <result property="oneLiner" column="ONE_LINER"/>
        <result property="facilityCode" column="FACILITY_CODE"/>
        <result property="status" column="STATUS"/>
        <result property="isBusiness" column="IS_BUSINESS"/>
        <result property="createdAt" column="CREATED_AT"/>
        <result property="inactiveAt" column="INACTIVE_AT"/>
        <result property="crewCode" column="crew_code"/>
        <result property="role" column="role"/>
    </resultMap>

    <select id="getMyCrewCodeAndRole" parameterType="int" resultMap="userCrew">
        SELECT *
        FROM user_crew
        WHERE user_code = #{myId};
    </select>

    <select id="getMyCrewById" resultMap="crew">
        SELECT a.*
        FROM crews a
        JOIN user_crew b
        on a.id = b.crew_code
        WHERE a.status = TRUE
        AND b.user_code = #{myId};
    </select>

    <select id="getCrewMemberList" parameterType="int" resultMap="crewMembers">
        SELECT
            u.*,
            uc.crew_code,
            uc.role
        FROM users u
        JOIN user_crew uc
        on u.id = uc.user_code
        WHERE uc.crew_code = (SELECT crew_code FROM user_crew WHERE user_code = #{key});
    </select>

    <select id="getImgUrlList" parameterType="int">
        SELECT img_url
        FROM crew_posts
        WHERE crew_code = (SELECT crew_code FROM user_crew WHERE user_code = #{key});
    </select>



</mapper>

