<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ohgiraffers.climbon.common.forconvenienttest.TestUserRoleMapper">
    <resultMap id="roleControlResult" type="com.ohgiraffers.climbon.common.forconvenienttest.RoleUpdateRequest">
        <id property="id" column="ID"/>
        <result property="role" column="USER_ROLE"/>
    </resultMap>

    <update id="updateUserRole" parameterType="com.ohgiraffers.climbon.common.forconvenienttest.RoleUpdateRequest">
        UPDATE users
        SET user_role = #{role}
        WHERE id = #{id};
    </update>
</mapper>