@charset "utf-8";

:root {
    --fc-button-active-bg-color: transparent;
    --fc-event-bg-color: #FAEFDD;
    --fc-event-border-color: #222;
}

.calendar-modal .modal-header{
    width: 100%;
}
.calendar-modal .modal-content {
    align-items: center;
    justify-content: center;
}

.calendar-modal .modal-body{
    font-size: 14px;
    color: var(--darkGray);
}

.calendar-modal .modal-body input,
.calendar-modal .modal-body select
{
    margin: 3px;
    border: 1px solid var(--gray);
}

.calendar-modal .modal-footer .btn{
    height: 30px;
    font-size: 14px;
    font-weight: 600;
    padding: 0 20px;
    color: var(--darkBorderColor);
    background-color:  var(--beige);
    border: 0;
    align-items: center;
    justify-content: center;
}

.calendar-modal .modal-footer .btn:hover{

}

.calendar-modal .modal-footer .btn-danger{
    color: #fff;
    background-color:  var(--point);
}

.calendar-modal .btn-close{
    float: right;
}

.calendar-modal .modal-title {
    font-size: 18px;
    font-weight: 700;
}

/* 캘린더 */
.fc {
    width: 100%;
    height: 100%;

}
.fc .fc-col-header-cell-cushion {
    display: inline-block;
    padding: 2px 4px;

    font-size: 14px;
    font-weight: 600;
}


.fc .fc-toolbar-title{
    font-size: 20px;
    font-weight: 700;
    color: #222222;
}

.fc .fc-header-toolbar{
    margin: 10px;
}

.fc .fc-daygrid-day-frame{
    height: min-content;
}

.fc-day-sun a { /* 일요일 컬러 */
    color: var(--point);
}

.fc-day-sat a { /* 토요일 컬러 */
    color: var(--darkGray);
}

.fc .fc-button {
    background-color: var(--point);

    font-size: 14px;
    font-weight: 500;
    color: #fff;
    border: none;
}

.fc .fc-button:hover {
    background-color: transparent;
    color: var(--darkGray);
}

/* 포커스된 상태 테두리 없앰 */
.fc .fc-button-primary:focus {
    border: none;
    box-shadow: none;
}

/* today 버튼 - 이번 달에 위치할 때 */
.fc .fc-today-button:disabled {
    background-color: var(--beige);
    color: #fff;
}

.fc-event-main{
    border: none;
}

.fc .fc-event-title{
    font-size: 12px;
}

.fc .fc-h-event{
    border: 0;
}