.content {
    height: calc(100vh - var(--footerHeight));
}

.content.header1 {
    position: fixed; /* 상단에 고정 */
    top: 0;
    left: 0;
    width: 100%; /* 전체 화면 폭을 차지 */
    background-color: #fff; /* 배경색 */
    padding: 10px 20px; /* 패딩 */
    z-index: 1000; /* 다른 콘텐츠보다 위로 올라오도록 */
    box-shadow: 0 4px 2px -2px gray; /* 아래쪽 그림자 효과 */
    display: flex;
    align-items: center; /* 세로로 중앙 정렬 */
    justify-content: space-between; /* 항목들을 양쪽 끝에 배치 */
}
/* 테이블 스타일 */
.content #facilitiestb {
    width: 400px;
    border-collapse: collapse; /* 셀 간 경계선 겹침 방지 */
}

/* 테이블 셀 스타일 */
.content #facilitiestb td {
    padding: 10px;
    text-align: left;
    border-top: 1px solid #DEE2E6;  /* 위쪽 경계선 */
    border-bottom: 1px solid #DEE2E6; /* 아래쪽 경계선 */
    border-left: none;  /* 왼쪽 경계선 제거 */
    border-right: none; /* 오른쪽 경계선 제거 */
}

/* 시설명과 주소가 세로로 나열되도록 설정 */
.content .facility-info {
    display: block; /* 세로로 배치 */
}

/* 시설명 스타일 */
.content .facility-name {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 5px; /* 시설명과 주소 사이에 여백 추가 */
}

/* 주소 스타일 */
.content .facility-address {
    font-size: 14px;
    color: #555;
}
.content .inner {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    position: relative;
}
.content .offcanvas {
    position: relative;
    transform: translateX(0);
    visibility: visible;
    height: 100%;
    width: 320px;
}
.content .map-content {
    width: calc(100% - 400px);
    height: 100%;
    position: relative;
}
.content .map-content #map {
    width: 100%;
    height: 100%;
    left: 0;
}
.content .offcanvas-body {
    width: 300px;
    overflow-y: scroll;
}
.content .offcanvas-body::-webkit-scrollbar {
    width: 0px; /* 스크롤바를 안 보이게 함 */
    background: transparent; /* 배경을 투명으로 설정 */
}
.content .offcanvas-body::-webkit-scrollbar-thumb {
    background: transparent; /* 스크롤바 자체도 투명하게 설정 */
}

.category-button {
    display: inline-block;
    margin: 10px;
    padding: 20px 20px 10px;  /* 상단에 더 많은 여백을 추가 */
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

.category-button:hover {
    background-color: #0056b3;
}

/*검색창 추천*/
#suggestions {
    border: 1px solid #ccc;
    display: none; /* 초기에는 숨김 */
    max-height: 150px;
    overflow-y: auto;
    position: absolute; /* 위치 조정 */
    background: white; /* 배경색을 흰색으로 설정 */
    z-index: 1000;
}

.suggestion-item {
    padding: 8px;
    cursor: pointer;
}

.suggestion-item:hover {
    background-color: #f0f0f0; /* 마우스 오버 시 배경색 변화 */
}


/*//검색창*/
.search-container {
    position: relative;
    width: 295px;
}
.search-input {
    width: 100%;
    padding: 5px;
    padding-right: 30px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 20px;
}
.search-input::placeholder {
    font-family: 'Arial', sans-serif; /* 폰트 변경 */
    font-size: 15px;                 /* 폰트 크기 */
    color: #888;                    /* 색상 변경 (회색) */
    font-weight: bold;              /* 굵은 글씨 */
}
.search-button {
    position: absolute;
    right: 7px;
    top: 48%;
    transform: translateY(-50%);
    background: none;
    border: none;
    color: var(--gray);
    cursor: pointer;
}
.search-button:hover {
    color: var(--point);
}
/*디테일*/
div#facilityDetailsContainer {
    position: absolute;
    top: 0;
    left: 340px;
    width: 300px;
    height: 100%;
    background-color: #fff;
    z-index: 1;
    display: none; /* 처음에는 숨겨져 있습니다 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}