@charset "utf-8";

.banner-content{
    width: 100%;
    height: 621px;
    background-color: #f79256; /* Orange background */
    position: relative;
}

.main-content{
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-top: 124px;
    padding: 20px;
}

.main-content h3{
    color: #343A40;

    font-size: 24px;
    font-weight: 700;
}


/* 이벤트(리스트, 캘린더) */
.event-container{
    display: flex;
    width: 1106px;
    height: 700px;

    align-items: center;
    margin: 0 auto;
}

.event-container .events-section{
    margin: 10px;
    width: 25%;
    height: 100%;
}

.event-container .event-list {
    background-color: #fff;
    padding: 32px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.event-container .event-list h5{
    color: #222222;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
}

.event-container .calendar-section {
    height: 662px;
}

/* 오늘의 암장 */

.featured-locations{
    margin-top: 123px;
}

.featured-locations .facility-list{
    margin: 0 auto;
    display: flex;
    width: 1106px;
    height: 500px;
}

.featured-locations .facility-item{
    margin-right: 13px;
    width: 360px;
    height: 100%;
    background-color: #DEE2E6;
    border-radius: 6px;
}

/* 커뮤니티 게시판 */
.community-container{
    display: flex;
    margin-top: 100px;
    width: 1106px;
    height: 500px;
}

.community-container .community-posts{
    display: flex;
}

.community-container .popular-lists{
    display: flex;
}