@charset "utf-8";

.banner-content{
    width: 100%;
    height: 621px;
    background-color: #f79256; /* Orange background */
    position: relative;
}

.main-content{
    flex-direction: column;
    align-items: center;

    margin-top: 124px;
    padding: 20px;
}

.main-content h3{
    color: #343A40;

    font-size: 24px;
    font-weight: 700;
}

.event-container{
    display: flex;
    width: 1106px;
    height: 700px;

    align-items: center;
    justify-content: center;
}

.event-container .events-section{
    margin: 10px;
    width: 25%;
    height: 100%;
}

.event-list {
    background-color: #fff;
    padding: 32px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.event-list h5{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
}

.event-container .calendar-section {
    height: 662px;
}