@charset "utf-8";

.banner-content{
    width: 100%;
    height: 621px;
    background-color: #f79256; /* Orange background */
    position: relative;
}

.main-content{
    flex-direction: column;
    justify-content: center;

    margin-top: 124px;
    padding: 20px;
}

.main-content h3{
    color: #343A40;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
}


/* 이벤트(리스트, 캘린더) */


.main-content .main-event-title{
    width: 1106px;
    margin: 0 auto;
    padding-bottom: 27px;
}

.main-content h4{
    color: #343A40;
    font-size: 24px;
    font-weight: 700;
}

.main-event-container{
    display: flex;
    width: 1106px;
    height: 700px;

    align-items: center;
    margin: 0 auto;
}

.main-event-container .main-events-section{
    margin: 10px;
    width: 25%;
    height: 100%;
}

.main-event-container .main-event-list {
    background-color: #fff;
    height: 700px;
    padding: 32px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.main-event-container .main-event-list h5{
    color: #222222;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
}

.main-event-container .calendar-section {
    width: 769px;
    height: 100%;
}

.main-event-container .calendar-section #calendar{
    height: 100%;
}

/* 오늘의 암장 */

.featured-locations{
    margin-top: 123px;
}

.featured-locations .facility-list{
    margin: 28px auto auto;
    display: flex;
    width: 1106px;
    height: 500px;
}

.featured-locations .facility-item{
    margin-right: 13px;
    width: 360px;
    height: 100%;
    background-color: #DEE2E6;
    border-radius: 6px;
}

/* 커뮤니티 게시판 */
.community-container{
    margin-top: 100px;
}

.community-container .community-posts{
    display: flex;
    margin: 28px auto auto;
    width: 1106px;
    height: 500px;
}

.community-container .community-posts-list{
    width: 832px;
    height: 100%;
    margin-right: 16px;
    border: 1px solid #DEE2E6;
    border-radius: 6px;
    padding: 58px;
}

.community-container #recent-posts{
    width: 716px;
}

.community-container .btn-more-posts{
    width: 717px;
    height: 62px;
    background-color: #FAEFDD;

    font-size: 18px;
    font-weight: 700;
}

.community-container .popular-posts{
    width: 258px;
    height: 100%;
    border: 1px solid #DEE2E6;
    border-radius: 6px;

    padding-top: 52px;
    padding-bottom: 52px;
    padding-left: 30px;
}

.community-container .popular-lists{
    display: flex;
}