@charset "utf-8";

/*마이페이지 모달 공통*/
.modal-user .modal-dialog {
    max-width: unset;
    top: 50%;
    transform: translateY(-50%) !important;
}
.modal-user .modal-content {
    overflow: hidden;
}
.modal-user .modal-body {
    padding: 30px 30px 40px;
}
.modal-user .modal-footer button {
    font-weight: 600;
    border-radius: 0;
}
.modal-user .modal-footer button:first-of-type {
    background: var(--borderColor);
}

/* 회원 탈퇴 모달 */
#userModalChoice .modal-dialog{
    width: 480px;

}
#userModalChoice .modal-body .logo {
    margin-bottom: 25px;
}
#userModalChoice .modal-body .logo img {
    width: 103px;
}
#userModalChoice .modal-body h5 {
    margin-bottom: 20px;
}
#userModalChoice .modal-body p {
    width: 330px;
    word-break: keep-all;
    line-height: 22px;
    font-size: 14px;
    margin: 0 auto;
}
#userModalChoice .modal-body p a {
    font-weight: 600;
    text-decoration: underline;
}
#userModalChoice .modal-footer button:last-of-type {
    color: #fff;
    background: var(--bs-danger);
}


/* 비즈니스 계정 전환 신청 */
#userApplyModalChoice .modal-dialog{
    width: 528px;
}
#userApplyModalChoice .modal-body h5 {
    margin-bottom: 30px;
}
#userApplyModalChoice .modal-body .input-wrap input[type="search"]{
    width: 370px;
}
#userApplyModalChoice .modal-body .input-wrap .btn-search {
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: var(--placeholder);
}
#userApplyModalChoice .modal-body .input-wrap:last-of-type {
    margin-top: 30px;
}
#userApplyModalChoice .modal-body .input-wrap:last-of-type label {
    margin-bottom: 0;
}
#userApplyModalChoice .modal-body .input-wrap input[type="file"]{
    display: none;
}
#userApplyModalChoice .modal-body .input-wrap .btn-fileupload {
    border-radius: 6px;
    height: 45px;
    width: 120px;
}
#userApplyModalChoice .modal-body .input-wrap .btn-fileupload i {
    font-size: 18px;
    margin-right: 7px;
}
#userApplyModalChoice .modal-footer button:last-of-type {
    color: #fff;
    background: var(--point);
}