@charset "utf-8";

/*마이페이지 모달 공통*/
.modal-user .modal-dialog {
    max-width: unset;
    /*top: 50%;
    transform: translateY(-50%) !important;*/
}
.modal-user .modal-content {
    overflow: hidden;
}
.modal-user .modal-body {
    padding: 30px 30px 40px;
    width: 100%;
}
.modal-user .modal-footer button {
    font-weight: 600;
    border-radius: 0;
}
.modal-user .modal-footer button:first-of-type {
    background: var(--borderColor);
}

/* 회원 탈퇴 모달 */
#userModalChoice .modal-dialog{
    width: 480px;

}
#userModalChoice .modal-body .logo {
    margin-bottom: 25px;
}
#userModalChoice .modal-body .logo img {
    width: 103px;
}
#userModalChoice .modal-body h5 {
    margin-bottom: 20px;
}
#userModalChoice .modal-body p {
    width: 330px;
    word-break: keep-all;
    line-height: 22px;
    font-size: 14px;
    margin: 0 auto;
}
#userModalChoice .modal-body p a {
    font-weight: 600;
    text-decoration: underline;
}
#userModalChoice .modal-footer button:last-of-type {
    color: #fff;
    background: var(--bs-danger);
}


/* 비즈니스 계정 전환 신청 */
#userApplyModalChoice .modal-dialog{
    width: 528px;
}
#userApplyModalChoice .modal-body h5 {
    margin-bottom: 30px;
}
#userApplyModalChoice .modal-body .input-wrap label {
    margin-bottom: 0;
}
#userApplyModalChoice .modal-body .input-wrap input[type="search"]{
    width: 370px;
    outline: none;
}
#userApplyModalChoice .modal-body .input-wrap.active input[type="search"]{
    border: none;
    font-weight: 500;
}
#userApplyModalChoice .modal-body .input-wrap input[type="search" i]::-webkit-search-cancel-button {
    cursor: pointer;
    position: absolute;
    right: 50px;
}
#userApplyModalChoice .modal-body .input-wrap.active input[type="search" i]::-webkit-search-cancel-button {
    position: static;
}
#userApplyModalChoice .modal-body .input-wrap .suggestions {
    display: none;
    border: 1px solid var(--borderColor);
    max-height: 150px;
    overflow-y: auto;
    position: absolute;
    background: white;
    z-index: 1056;
    right: 0;
    width: 370px;
    top: 45px;
}
#userApplyModalChoice .modal-body .input-wrap .suggestions .suggestion-item {
    padding: 0 12px;
    height: 45px;
    line-height: 45px;
    cursor: pointer;
}
#userApplyModalChoice .modal-body .input-wrap .suggestions .suggestion-item:hover {
    background: var(--beige);
    cursor:pointer;
    font-weight: 500;
}
#userApplyModalChoice .modal-body .input-wrap .suggestions .no-result {
    text-align: center;
    height: 45px;
    line-height: 45px;
}
#userApplyModalChoice .modal-body .input-wrap .btn-search {
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: var(--placeholder);
}
#userApplyModalChoice .modal-body .input-wrap:last-of-type {
    margin-top: 30px;
}

#userApplyModalChoice .modal-body .input-wrap input[type="file"]{
    display: none;
}
#userApplyModalChoice .modal-body .input-wrap .btn-fileupload {
    border-radius: 6px;
    height: 45px;
    width: 120px;
}
#userApplyModalChoice .modal-body .input-wrap .btn-fileupload i {
    font-size: 18px;
    margin-right: 7px;
}
#userApplyModalChoice .modal-body .input-wrap .attachFile {
    display: none;
    flex-shrink: 0;
    margin-top: 10px;
}
#userApplyModalChoice .modal-body .input-wrap .attachFile.active {
    display: flex;
}
#userApplyModalChoice .modal-body .input-wrap .fileName {

    font-weight: 600;
    text-decoration: underline;
}
#userApplyModalChoice .modal-footer button:last-of-type {
    color: #fff;
    background: var(--point);
}


/* 알림 모달 */
.modal-notice .modal-dialog {
    width: 650px;
}
.modal-notice .modal-body {
    padding: 0;
}
.modal-notice .modal-body .top {
    padding: 15px 30px;
}

.modal-notice .modal-body .top button {
    font-size: 24px;
    padding: 0;
}
.modal-notice .modal-body ul li {
    padding: 25px 0 20px;
    margin: 0 30px;
    flex-wrap: wrap;
}
.modal-notice .modal-body ul li.no-notice {
    text-align: left;
}

.modal-notice .modal-body ul li .left {
    text-align: left;
    width: 76%;
}
.modal-notice .modal-body ul li .left p {
    font-weight: 600;
    margin-bottom: 5px;
}
.modal-notice .modal-body ul li .left dl {
    color: var(--darkGray);
    font-size: 14px;
}
.modal-notice .modal-body ul li .left dl dt {
    font-weight: 400;
    flex-shrink: 0;

}
.modal-notice .modal-body ul li .left dl dd {
    margin-bottom: 0;
    padding-left: 10px;
}
.modal-notice .modal-body ul li .left dl dd a {
    font-weight: 600;
    text-decoration: underline;
    word-break: break-all;
}
.modal-notice .modal-body ul li .right {
    flex-shrink: 0;
    width: 22%;
}
.modal-notice .modal-body ul li .right.confirm {
    width: auto;
}
.modal-notice .modal-body ul li .right.confirm button {
    color: #fff;
    background: var(--point);
    border-color: var(--point) !important;
}
.modal-notice .modal-body ul li .right button {
    font-size: 14px;
    padding: 5px 15px;
    border-radius: 999px;
}
.modal-notice .modal-body ul li .right .btn-approval {
    margin-right: 10px;
    font-weight: 600;
    color: #fff;
    background: var(--point);
    border-color: var(--point) !important;
}


/* 홈짐 모달 */
#facilityModal .modal-dialog {
    width: 380px;
}
#facilityModal .modal-body {
    padding: 0;
}
#facilityModal .modal-body .top {
    padding: 25px 20px;
}
#facilityModal .modal-body .top .btn {
    font-size: 24px;
    padding: 0;
}
#facilityModal .modal-body #searchHomeFacilities input {
    width: 300px;
    height: 45px;
    border-radius: 999px;
    padding: 0 60px 0 20px;

}
#facilityModal .modal-body #searchHomeFacilities input[type="search" i]::-webkit-search-cancel-button {
    cursor: pointer;
}
#facilityModal .modal-body #searchHomeFacilities .suggestions {
    width: 300px;
    position: absolute;
    top: 45px;
    left: 0;
}
#facilityModal .modal-body #searchHomeFacilities button {
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}
#facilityModal .modal-body ul {
    padding: 0 20px;
    max-height: 381px;
    overflow-y: auto;
}
#facilityModal .modal-body ul li {
    padding: 15px 0;
    cursor: pointer;
}
#facilityModal .modal-body ul li:hover,
#facilityModal .modal-body ul li:active {
    border-bottom-color: var(--point) !important;
    border-bottom-width: 2px !important;
}
#facilityModal .modal-body ul li .name {
    font-weight: 600;
    margin-bottom: 5px;
    text-align: left;
}
#facilityModal .modal-body ul li .address {
    font-size: 14px;
    color: var(--darkGray);
}
#facilityModal .modal-body ul li .img-wrap {
    width: 64px;
    height: 64px;
    overflow: hidden;
    display: flex;
    align-content: center;
    justify-content: center;
}
#facilityModal .modal-body ul li .img-wrap img {
    width: 100%;
}
#facilityModal .modal-body .btn-more {
    display: none;
    margin: 25px auto;
    width: 120px;
    height: 35px;
    background: var(--point);
    border-radius: 999px;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
}
