<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/baseLayout}"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<th:block layout:fragment = "modalFragment">
    <!-- 부트스트랩 modal 부분 -->
    <!-- Modal -->
    <div class="calendar-modal" th:fragment="modalFragment">
        <div
                class="modal fade"
                id="calendarModal"
                tabindex="-1"
                aria-labelledby="calendarModalLabel"
                aria-hidden="true"
        >
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="calendarModalLabel">일정 추가하기</h5>
                        <button
                                type="button"
                                class="btn-close"
                                data-bs-dismiss="modal"
                                aria-label="Close"
                        ></button>
                    </div>
                    <div class="modal-body">
                        일정이름 : <input type="text" id="title" /><br />
                        시작시간 : <input type="datetime-local"
                                      id="start"
                                      min="2024-11-01T00:00"
                                      max="2026-01-14T00:00" /><br />
                        종료시간 : <input type="datetime-local"
                                      id="end"
                                      min="2024-11-01T00:00"
                                      max="2026-01-14T00:00" /><br />
                        장소이름 : <input type="text" id="location"/><br/>
                        배경색상 :
                        <select id="color">
                            <option value="#ff7f27">색깔 1</option>
                            <option value="#ff974e">색깔 2</option>
                            <option value="#ffb581">색깔 3</option>
                            <option value="#ffd6ba">색깔 4</option>
                            <option value="#f2beb3">색깔 5</option>
                            <option value="#ee9b8a">색깔 6</option>
                            <option value="#eb755d">색깔 7</option>
                        </select>
                    </div>
                    <div class="modal-footer">
                        <button
                                type="button"
                                class="btn btn-secondary"
                                data-bs-dismiss="modal"
                        >
                            취소
                        </button>

                        <button type="button" id="addButton" class="btn btn-primary" style="display: none;">추가</button>
                        <button type="button" id="modifyButton" class="btn btn-success" style="display: none;">수정</button>
                        <button type="button" id="deleteButton" class="btn btn-danger" style="display: none;">삭제</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>

</html>
