<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/baseLayout}"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<th:block th:fragment="tabContFragment">
    <div class="tab-pane fade" id="board" role="tabpanel" aria-labelledby="board-tab">
        <h2 class="section-title">게시판 관리</h2>

        <ul role="tablist">
            <li role="presentation">
                <button class="active" id="post-tab" data-bs-toggle="tab" data-bs-target="#post" type="button" role="tab" aria-controls="post" aria-selected="true">게시글</button>
            </li>
            <li role="presentation">
                <button id="comment-tab" data-bs-toggle="tab" data-bs-target="#comment" type="button" role="tab" aria-controls="comment" aria-selected="false">댓글</button>
            </li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane fade show active" id="post" role="tabpanel" aria-labelledby="post-tab">
                <table>
                    <tr>
                        
                    </tr>
                </table>
            </div>
            <div class="tab-pane fade" id="comment" role="tabpanel" aria-labelledby="comment-tab">
                댓글
            </div>
        </div>
    </div>
</th:block>
</html>