<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/baseLayout}"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/page/crew/crewHome.css}">
</th:block>

<th:block layout:fragment="containerFragment">
    <div class="crew-banner">
        <div style="background: url('/images/crewbanner.png') no-repeat center / cover; height: 380px;">
    </div>

    <div class="inner">

        <div class="head-container">
            <!-- 크루 목록 -->
            <h2 class="news-title">모집중인 크루들</h2>
            <!-- 더보기 버튼-->
            <button onclick="window.location.href='/crew/crewlist'" class="more-button">더보기 <i class="fa-solid fa-chevron-right"></i></button>

        </div>

        <section class="crewlist-container">
            <div th:each="crew : ${crews}" class="crew-item text-center" style="width: 144px;">
                <a th:href="@{/crew/myCrew/{id}(id=${crew.id})}">
                <div class="position-relative mb-2" style="width: 100%; height: 144px;">
                    <div class="img-wrap d-flex align-items-center justify-content-center" style="width: 100%; height: 100%">
                        <img th:src="${crew.imgUrl}" alt="/images/logo.svg" class="w-100">
                    </div>
                </div>
                <span th:text="${crew.crewName}" class="crew-name">크루명</span>
                </a>
            </div>
        </section>

        <div class="crew-home-events-shower">
            <h2 class="news-title">가까운 크루 일정</h2>
            <!--  가까운 크루 일정~~~~ 최대 세 개 까지 보여주게  -->
            <div id="crew-activity-event-list">

            </div>
        </div>

        <!-- 게시글 목록 -->
        <section class="post-list">
            <h2>크루 소식</h2>
            <!-- 카테고리 섹션 -->
            <div class="header-container">
                <!-- 카테고리 버튼 -->
                <div class="category-buttons">
                    <button onclick="setActiveCategory(this, '전체'); window.location.href='/crew/home?category=전체&viewMode=' + viewMode">전체</button>
                    <button onclick="setActiveCategory(this, '공지'); window.location.href='/crew/home?category=공지&viewMode=' + viewMode">공지</button>
                    <button onclick="setActiveCategory(this, '내크루'); window.location.href='/crew/home?category=내 크루&viewMode=' + viewMode">내 크루</button>
                </div>

                <!-- 검색 입력 필드와 버튼 -->
                <div class="search-bar">
                    <form action="/crew/home" method="get" style="display:flex; align-items: center;">
                        <input type="hidden" name="category" th:value="${category}"/>     <!--category와 searchKeyword를 함께 서버로 전송하여, 해당 카테고리의 검색 결과를 표시할 수 있게 했다-->
                        <input type="hidden" name="viewMode" th:value="${viewMode}"/> <!--뷰모드 유지-->
                        <input type="search" name="searchKeyword" placeholder="크루게시판 내에서 검색" minlength="2" th:value = "${searchKeyword}"/> <!--minlength="2" 와 required를 사용하여 최소 2글자 이상 입력하게 설정-->
                        <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                    </form>
                </div>

                <!-- 뷰 전환 및 정렬 버튼-->
                <div class="view-and-sort">
                    <div class="view-buttons">
                        <button onclick="setViewMode('card')" id="cardViewButton">
                            <i class="fa-solid fa-bars-progress"></i>
                        </button>
                        <button onclick="setViewMode('list')" id="listViewButton">
                            <i class="fa-solid fa-rectangle-list"></i>
                        </button>
                    </div>
                    <!-- 정렬 버튼과 드롭다운 -->
                    <div class="dropdown">
                        <button class="sort-button" id="sortButton"><i class="fa-solid fa-arrow-down-wide-short"></i>
                            <span class="sort-text">최신순</span>
                        </button>
                        <div class="dropdown-content">
                            <a href="#" onclick = "sortPosts('latest')">최신순</a>
                            <a href="#" onclick = "sortPosts('comments')">댓글순</a>
                            <a href="#" onclick = "sortPosts('views')">조회순</a>
                            <a href="#" onclick = "sortPosts('hearts')">좋아요순</a>
                        </div>
                    </div>
                    <!-- 글쓰기 버튼 -->
                    <div class="create-button-container">
                        <button class="create-button" id="writePostBtn"><i class="fa-solid fa-pen"></i>글쓰기
                        </button>
                    </div>
                </div>

            </div>
            <!-- 리스트 뷰 형식 -->
            <div class="list-view">
                <table style="width: 100%; border-collapse: collapse;">
                    <colgroup>
                        <col width="10%">
                        <col>
                        <col width="13%">
                        <col width="13%">
                    </colgroup>
                    <thead>
                    <tr>
                        <th>카테고리</th>
                        <th>제목</th>
                        <th>작성자</th>
                        <th>작성일</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!-- 공지 핀포스트 -->
                    <tr th:each="post : ${pinnedNoticePosts}" class="pinned-post">
                        <td th:text="${post.category}"><div class="pinned-postCategory">공지</div></td>
                        <td style="text-align: left">
                            <a th:href="@{'/crew/post/' + ${post.id}}">
                                <span th:text="${post.title}">공지 게시글 제목</span>
                                <span class="comment-count">[<span th:text="${post.commentsCount}">0</span>]</span>
                            </a>
                        </td>
                        <td th:text="${post.isAnonymous? '익명' : post.userNickname}" class="userModalOpen" th:data-id="${post.isAnonymous? '' : post.userId}">작성자</td>
                        <td th:text="${post.updatedAt != null ? post.formattedUpdatedAt : post.formattedCreatedAt}">작성일</td>
                    </tr>

                    <!-- 일반 게시글 출력 -->
                    <tr id="generalPosts" th:each="post : ${generalPosts}" >
                        <td th:text="${post.category}">카테고리</td>
                        <td style="text-align: left">
                            <a th:href="@{'/crew/post/' + ${post.id}}">
                                <span th:text="${post.title}">게시글 제목 예시</span>
                                <span class="comment-count">[<span th:text="${post.commentsCount}">0</span>]</span>
                            </a>
                        </td>
                        <td th:text="${post.isAnonymous? '익명' : post.userNickname}" class="userModalOpen" th:data-id="${post.isAnonymous? '' : post.userId}">작성자</td>
                        <td th:text="${post.updatedAt != null ? post.formattedUpdatedAt : post.formattedCreatedAt}">작성일</td>
                    </tr>

                    </tbody>
                </table>
            </div>
            <!-- 카드 뷰 형식 -->
            <div class="card-container" style="display: none;">
                <table style="width: 100%; border-collapse: collapse;">
                    <colgroup>
                        <col width="10%">
                        <col>
                        <col width="13%">
                        <col width="13%">
                    </colgroup>
                    <thead>
                    <tr>
                        <th>카테고리</th>
                        <th>제목</th>
                        <th>작성자</th>
                        <th>작성일</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!-- 공지 핀포스트 -->
                    <tr th:each="post : ${pinnedNoticePosts}" class="pinned-post">
                        <td th:text="${post.category}">공지</td>
                        <td style="text-align: left">
                            <a th:href="@{'/crew/post/' + ${post.id}}">
                                <span th:text="${post.title}">공지 게시글 제목</span>
                                <span class="comment-count">[<span th:text="${post.commentsCount}">0</span>]</span>
                            </a>
                        </td>
                        <td th:text="${post.isAnonymous? '익명' : post.userNickname}" class="userModalOpen" th:data-id="${post.isAnonymous? '' : post.userId}">작성자</td>
                        <td th:text="${post.updatedAt != null ? post.formattedUpdatedAt : post.formattedCreatedAt}">작성일</td>
                    </tr>
                    </tbody>
                </table>
                <div th:each="post : ${generalPosts}" class="card d-flex flex-row">
                    <div class="card-body">
                        <div class="card-title">
                            <a th:href="@{'/crew/post/' + ${post.id}}">
                                <span th:text="${post.title}">게시글 제목 예시</span>
                            </a>
                        </div>
                        <div class="card-content line-clamp" th:text="${post.content}">게시글 내용 요약</div>
                        <div class="card-meta">
                            <span th:text="${post.isAnonymous? '익명' : post.userNickname}" class="userModalOpen" th:data-id="${post.isAnonymous? '' : post.userId}">작성자</span>
                            <span th:text="${post.crewName}">크루명</span>
                            <span th:text="${post.updatedAt != null ? post.formattedUpdatedAt : post.formattedCreatedAt}">작성일</span>
                            <i class="fa-solid fa-eye"></i><span th:text="${post.viewCount}">0</span>
                            <i class="fa-regular fa-heart"></i><span th:text="${post.likeCount}">0</span>
                            <i class="fa-regular fa-comment-dots"></i><span th:text="${post.commentsCount}">0</span>
                        </div>
                    </div>
                    <div class="thumbnail-wrapper" th:if="${post.imgUrl.length() > 0}">
                        <img th:src="${post.imgUrl}" alt="Thumbnail" class="thumbnail">
                    </div>
                </div>
            </div>
        </section>

        <!-- 페이지네이션 -->
        <section class="pagination">
            <ul>
                <!-- 이전 페이지 링크 -->
                <li>
                    <!-- 여기에 공백 생기면 오류 뜨므로 건들면 안된다--><a th:href="@{'/crew/home?page=' + (${currentPage - 1})
                        + '&category=' + ${#strings.defaultString(category, '전체')}
                        + '&searchKeyword=' + ${#strings.defaultString(searchKeyword, '')}
                        + '&sort=' + ${#strings.defaultString(sort, 'latest')}
                        + '&viewMode=' + ${#strings.defaultString(viewMode, 'list')}}"
                                                        th:classappend="${currentPage <= 1} ? 'disabled' : ''">
                    <i class="fa-solid fa-circle-chevron-left"></i></a>
                </li>  <!--currentPage에 따라 이전 페이지링크가 표시--> <!-- 페이지네이션이 되도 링크 생성 할 때 현재 URL에 포함된 category, searchKeyword, sort 등의 파라미터를 함께 전달하여 커뮤니티게시판의 기존 기능 유지-->
                <!-- 페이지 번호 링크 -->
                <li th:each="pageNum : ${#numbers.sequence(1, totalPages)}">  <!--#numbers.sequence(1, totalPages)를 사용하여 1부터 totalPages까지 페이지 번호 링크를 생성하고, 현재 페이지는 active 클래스를 추가하여 강조--> <!--첫번째 인자가 null인 경우 두번째 인수 반환-->
                    <a th:href="@{'/crew/home?page=' + ${pageNum}
                        + '&category=' + ${#strings.defaultString(category, '전체')}
                        + '&searchKeyword=' + ${#strings.defaultString(searchKeyword, '')}
                        + '&sort=' + ${#strings.defaultString(sort, 'latest')}
                        + '&viewMode=' + ${#strings.defaultString(viewMode, 'list')}}"
                       onclick="navigateWithViewMode(event, ${pageNum})"
                       th:text="${pageNum}"
                       th:classappend="${pageNum == currentPage} ? 'active' : ''">
                    </a> <!--@: Thymeleaf에서 URL을 생성할 때 사용-->
                </li>

                <!-- 다음 페이지 링크 -->
                <li>
                    <a th:href="@{'/crew/home?page=' + (${currentPage + 1})
                        + '&category=' + ${#strings.defaultString(category, '전체')}
                        + '&searchKeyword=' + ${#strings.defaultString(searchKeyword, '')}
                        + '&sort=' + ${#strings.defaultString(sort, 'latest')}
                        + '&viewMode=' + ${#strings.defaultString(viewMode, 'list')}}"
                       th:classappend="${currentPage >= totalPages} ? 'disabled' : ''">
                        <i class="fa-solid fa-circle-chevron-right"></i></a> <!--currentPage에 따라 다음 페이지링크가 표시-->
                </li>
            </ul>
        </section>
    </div>
    </div>
</th:block>

<th:block layout:fragment="javascript">
    <script th:src="@{/js/page/crew/crewHome.js}"></script>

    <script th:inline="javascript">
        const alertMessage = [[${alertMessage}]];
        if(alertMessage){
            alert(alertMessage);
        }
    </script>

</th:block>

</html>